[2021-06-21 11:27] drmingdrmer opened #2 "Refactor: MembershipConfig.memebers_after_consensus is too long"

[2021-07-07 14:45] fredfortier opened #3 "Wait - Last Applied Index"
I'm starting to use your handy `wait_` test utils.

I see this to wait for logs, suggesting both values should always be equal:
[code]
This is used after config changes like change membership. But isn't `last_applied` incremented only for `Normal` log entries applied to the state machine?

[2021-07-08 07:37] drmingdrmer commented on #3
I think it is here where the `last_applied` is updated:

https://github.com/datafuse-extras/async-raft/blob/53e696872c15b4dbd56316eabae42b962f0197be/async-raft/src/core/client.rs#L334-L339

When a change-memberships log committed, an `Internal` is created here:

https://github.com/datafuse-extras/async-raft/blob/53e696872c15b4dbd56316eabae42b962f0197be/async-raft/src/core/admin.rs#L167

[2021-07-09 16:13] fredfortier commented on #3
Got it, thanks! It's a bit confusing to me though because there are two `last_applied` parameters (the state machine and core) with different values (see `MemStore` example below).

[code]

In fairness, one is named `last_applied_log` and the other `last_applied` so they are different. But just wanted to flag as a potential naming improvements unless the Raft specs recommends this particular namin

[2021-07-09 16:13] #3 closed

[2021-07-09 16:27] drmingdrmer commented on #3
@fredfortier
Hm... that's good point!
I think `Statemachine.last_applied_log` is maintained only because `do_log_compaction()` needs this value. 🤔

[2021-09-03 14:55] thedodd opened #4 "Join forces?"
Hello datafuse team! I just wanted to open a channel of communication and see if you all would be interested in getting this fork merged upstream. I know it is 111 commits difference at this point, but taking the changes and adding some folks as co-maintainers would be awesome for the overall health of the async-raft project.

Just let me know, cheers 🍻

[2021-09-09 08:15] drmingdrmer commented on #4
Feel free to merge back every of the commits back to upstream!

[2021-09-10 02:27] semirix commented on #4
@drmingdrmer Is it important for datafuse to maintain their own separate fork or would you be open to being an upstream maintainer?

[2021-09-10 02:50] drmingdrmer commented on #4
It depends.
For now we need to move quickly improving features or fixing bugs.

And to be honest, there are some personal style in the latest commits. 🤔
E.g. I merged most `term, index` tuple into a `LogId`.

And I've changed some of the API that make it easy to use with a real storage(`sled` based as @thedodd suggested).

And there will be some optimization that is not included in raft spec.
E.g.

[2021-09-10 15:30] drmingdrmer opened #5 "flaky test on CI: want voted_for to be Some(0) but is None."
flaky test on CI: want voted_for to be Some(0) but is None.
maybe a heavy load delayed heartbeat thus a node start to elect itself. since we have changed follwoer
election timeout to 2 seconds.

[2021-09-13 06:50] simon-fu opened #6 "build fail for stable rust"
error[E0658]: arbitrary expressions in key-value attributes are unstable
 --> /Users/simon/.cargo/git/checkouts/async-raft-c411f5c0ea29c115/ca6ba30/async-raft/src/lib.rs:1:10
  |
1 | #![doc = include_str!("../README.md")]
  |          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  |
  = note: see issue #78835 <https://github.com/rust-lang/rust/issues/78835> for more information

error: aborting due to previous er

[2021-09-13 17:01] Frederik-Baetens commented on #6
I had this issue for another project, and fixed it by updating to rust 1.55. See if that fixes this for you.

[2021-09-16 17:34] drmingdrmer commented on #6
Thank you @Frederik-Baetens

[2021-12-15 16:24] fredfortier opened #11 "Leader Change Hook"
What's the best way to hook into leader change events? I see how it's done internally, each `append_entry` request has this guard:
[code]
But this `leader_id` field is dropped by the time by time my impl is called:
[code]
Basically, I need set some context following a leader re-election BEFORE applying the associated entry to the state machine? I could simply query the `RaftMetrics` in `apply_to_s

[2021-12-19 18:24] drmingdrmer commented on #11
AFAIK, `send()` is synchronized between threads. E.g. a `Receiver::borrow()` that is called after `send()` should always see the updated value:
https://docs.rs/tokio/1.8.0/src/tokio/sync/watch.rs.html#360
https://docs.rs/tokio/1.8.0/src/tokio/sync/watch.rs.html#231

But you are still not guaranteed to see the correct `leader` because the leader may have changed again.

What's your root need for th

[2021-12-27 06:22] drmingdrmer opened #13 "Notify replication task to stop by just closing the channel."
`RaftEvent::Terminate` is only used to notify replication to stop, when Leader switches to Follower.

Remove this `RaftEvent::Terminate`. To stop replication, just closing the channel is ok.

https://github.com/datafuse-extras/async-raft/blob/9adb5ff5d9cd27366545c1d0040e979239287c5f/async-raft/src/core/mod.rs#L727-L730

[2021-12-27 06:26] #11 closed

[2021-12-27 06:31] drmingdrmer commented on #2
MembershipConfig is renamed to `Membership` and internally it uses a `Vec` to store joint configs.

[2021-12-27 06:31] #2 closed

[2021-12-27 06:31] #4 closed

[2021-12-27 12:51] #6 closed

[2021-12-29 04:51] drmingdrmer opened #16 "rename non_voter to learner"
learner is more popular used.

[2021-12-29 05:08] drmingdrmer opened #18 "Refactor errors"
- [x] Errors should be serializable for transport: by using [AnyError](https://crates.io/crates/anyerror) to wrap external error
- [x] Top-level errors are API errors, such as ClientWriteError, ChangeMembershipError etc. API errors should be an enum that lists every possible sub error.
- [x] Removed `RaftError`, what it does is not very clear.
- [x] Avoid using `anyhow::Error` inside this crate.

[2021-12-31 06:53] #16 closed

[2021-12-31 08:03] drmingdrmer opened #24 "Re-organize integration tests."
Currently integration tests are in the one-case-per-file mode:

[code]

### The problems are:

- Slow compilation: every case re-compiles the common mod `fixtures`.
- Hard for new participant to understand.

### Proposed Solution:

Put related tests into a folder, such as `membership` related tests are now staying in /tests/membership.
The case may be one of the category:

- [x] #25
- [x] #27
- [x

[2021-12-31 08:03] drmingdrmer commented on #24
@lichuang @ariesdevil

[2021-12-31 09:55] drmingdrmer opened #25 "put integration test related to RPC vote into folder `tests/vote`"

[2021-12-31 09:55] drmingdrmer opened #26 "put integration test related to RPC install-snapshot into folder `tests/snapshot`"

[2021-12-31 09:55] drmingdrmer opened #27 "put integration test related to RPC append-entries into folder `tests/append_entries`"

[2021-12-31 09:55] drmingdrmer opened #28 "put integration test related to log-compaction into folder `tests/log-compaction`"

[2021-12-31 09:55] drmingdrmer opened #29 "put integration test related to state machine, e.g. applying an entry and reading the applied state, into folder tests/state_machine."

[2021-12-31 09:55] drmingdrmer opened #30 "put integration test related to raft metrics broadcasting and consumption into folder tests/metrics."

[2021-12-31 09:55] drmingdrmer opened #31 "move tests about client API: client_read and client_write into one integration test folder"

[2022-01-02 06:57] drmingdrmer opened #39 "Simplify trait RaftStorage"
Goal: it should only provide the necessary API. Extended API should be defined in `RaftStorage` or `StoreExt`. Let a user write less code.

- [x] #59
- [x] #61
- [x] #62

[2022-01-02 07:33] drmingdrmer opened #41 "Add doc: explain threads/tasks that are used in this lib"

[2022-01-02 07:45] drmingdrmer commented on #41
/assignme

[2022-01-02 09:52] drmingdrmer opened #42 "Remove `RaftEvent::Repilcate::entry`. Replace it with log id."
Remove `RaftEvent::Repilcate::entry`. Replace it with log id.

RaftCore does not need to send an entry, but just a log id is quite enough.
Since a ReplicationStream always reads log entries from a `RaftStorage` impl.

https://github.com/datafuselabs/openraft/blob/22c540626fc23c89447985f99b991ce711e2b50c/async-raft/src/replication/mod.rs#L533-L543

[2022-01-02 13:07] #41 closed

[2022-01-02 15:15] drmingdrmer opened #44 "Store learners in MembershipConfig."
Store learners in MembershipConfig, so that even when leadership is transferred, the replication to **Learner**s won't stop.

[2022-01-02 16:17] drmingdrmer opened #45 "Refine cluster initialization procedure"
The cluster init procedure is specialized and introduced duplicated codes.
This procedure could be safely implemented with existing routines.
This way to reduce code and make it more easier to test.

Currently:

- Init effective-membership.
- Enter candidate state.
- Become leader and commit a membership log that contains the initial config or a blank log(cluster already initialized).

Expected:

[2022-01-03 13:37] YangKian commented on #42
Hi, can I take this assignment? I would like to try it.

[2022-01-03 13:39] drmingdrmer commented on #42
Of course man!

/help

[2022-01-03 13:40] YangKian commented on #42
/assignme

[2022-01-03 14:04] xp-trumpet commented on #44
/assignme

[2022-01-03 14:08] xp-trumpet commented on #44
/assignme

[2022-01-03 21:11] drmingdrmer opened #49 "Make `last_log_id` an `Option<LogId>`, or it can not express an uninitialized state"
https://github.com/datafuselabs/openraft/blob/344d444c4ef84867d2ef09fb58032832b2148fcf/openraft/src/core/mod.rs#L140

[2022-01-03 21:49] drmingdrmer opened #50 "RaftStorage::get_initial_state should not try to fill in any default values. Leave them None and let the caller to init them."
- `InitialState::new_initial` does nothing else than build a default value of `InitialState`.
  There is nothing a user has to implement for `InitialState`.
  Thus just let Raft do this job. A user just returns `None` in the `RaftStorage ::get_initial_state()`.

- In addition,  what `get_initial_state` does is determined. A user does not need to customize `get_initial_state` if he has already impl

[2022-01-04 04:36] lichuang opened #54 "raft leader hangs log replication until next heart beat"
raft leader does not forward logs until next heartbeat.

[2022-01-04 06:30] SGZW commented on #44
/assignme

[2022-01-04 06:31] #42 closed

[2022-01-04 07:20] drmingdrmer commented on #44
@SGZW
This patch would affect a lot components in the code base.
Feel free opening a discussion sharing your idea and get help:DDD

[2022-01-04 07:45] SGZW commented on #44
ok, this issue has ddl? i will make a plan

[2022-01-04 08:14] #13 closed

[2022-01-04 09:39] drmingdrmer commented on #44
No ddl for now 🤔...

[2022-01-04 09:49] drmingdrmer commented on #54
Is there a test to reproduce this issue?

I noticed it too days before and haven't yet got time to fully dig into it...
- first found in https://github.com/datafuselabs/databend/issues/3474

[2022-01-04 10:09] SGZW commented on #44
thx, i will give a plan before Friday

[2022-01-04 10:11] drmingdrmer opened #56 "Add test for very large heartbeat interval"
E.g., set heartbeat timeout to 1000 sec.
Ensures that logs will still be forwarded to followers/learners.
Because log forwarding should be driven by new data that are written to the Leader, not by heartbeat.

- first found in https://github.com/datafuselabs/databend/issues/3474

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/openraft/issues/54#issuecomment-1004663451_

[2022-01-04 10:54] Veeupup opened #58 "bug: CI test `stepdown` failed"
here is the log and CI link https://github.com/datafuselabs/openraft/runs/4700908123?check_suite_focus=true#step:4:417

[code]

cc @drmingdrmer

[2022-01-04 11:38] drmingdrmer commented on #58
Thank you man.

Because within CI if some task is delayed a new round of election will be fired.

[2022-01-04 14:12] tangwz commented on #56
/assignme

[2022-01-04 14:33] drmingdrmer opened #59 "Minimize RaftStorage API: remove get_membership_config, add last_membership_in_log"
Goal: minimize the work for users to implement a correct raft application.

RaftStorage provides default implementations for `get_membership()`
and `last_membership_in_log()`.

These two methods just can be implemented with other basic user impl
methods and do not need users to impl them any more.

[2022-01-04 16:22] drmingdrmer opened #61 "`RaftStorage`: add method `get_log_state() -> Result<(Option<LogId>, Option<LogId>, StorageError>` to return the first and last log id in the store"
`RaftStorage`: add method `get_log_state() -> Result<(Option<LogId>, Option<LogId>, StorageError>` to return the first and last log id in the store.

Then remove `first_id_in_log()` and `last_id_in_log()`.

This way to simplify the trait API users need to impl.

https://github.com/datafuselabs/openraft/blob/9b00e7c76c93356211be62c054c5aa20af7fe1d3/openraft/src/storage.rs#L173-L180

[2022-01-04 16:51] #59 closed

[2022-01-04 16:52] drmingdrmer opened #62 "Provide a default impl for `RaftStorage::first_known_log_id()`"
`first_known_log_id()` returns the oldest log id that is found in logs or the last applied log id.

This method by default does not need users to impl it manually.
It can be done with `first_id_in_log()` and `last_applied_state()`.

https://github.com/datafuselabs/openraft/blob/9b00e7c76c93356211be62c054c5aa20af7fe1d3/openraft/src/storage.rs#L175

[2022-01-04 22:28] YangKian commented on #61
/assignme

[2022-01-05 02:06] GrapeBaBa commented on #62
/assignme

[2022-01-05 03:23] Veeupup commented on #49
/assignme

[2022-01-05 06:05] eliasyaoyc commented on #50
currently, get_initial_state will call InitialState::new_initial to initialize if node is first startup.
i assumed that your wants remove InitialState::new_initial and let the user actively call, right?

[2022-01-05 06:29] drmingdrmer commented on #50
No, I do not want users to call `InitialState:: new_initial()` at all.

- `InitialState::new_initial` does nothing else than build a default value of `InitialState`.
  There is nothing a user has to impl for `InitialState`.
  Thus just let Raft do this job. A user just returns `None`.

- In addition,  what `get_initial_state` does is determined. A user does not need to customize `get_initial_state

[2022-01-05 06:44] eliasyaoyc commented on #50
Gotcha, What else needs to be done on this issue？

[2022-01-05 06:53] drmingdrmer commented on #50
🤔  Just let `get_initial_state` returns `None` if the store is uninitialized, along with tests and doc comments updated.

[2022-01-05 06:54] eliasyaoyc commented on #50
/assignme

[2022-01-05 06:55] drmingdrmer commented on #27
/assignme

[2022-01-05 08:10] drmingdrmer opened #67 "CI: add commit message format check"

[2022-01-05 14:55] lichuang commented on #26
https://github.com/datafuselabs/openraft/pull/70

[2022-01-05 14:55] #26 closed

[2022-01-05 17:24] drmingdrmer commented on #61
There are some corner cases with using LogId for `last_log_id.`
E.g., when there is no log at all, using `LogId`, it returns `(0,0)`, which will confuse the caller.

- `unwrap()` everywhere, for now, is not a big deal. As soon as the main branch merges #49 , it will work smoothly altogether.

[2022-01-05 18:28] #67 closed

[2022-01-06 00:36] YangKian commented on #61
get~ thanks XD

[2022-01-06 06:13] #27 closed

[2022-01-06 07:10] drmingdrmer commented on #30
/assignme

[2022-01-06 07:22] lichuang commented on #28
PR:https://github.com/datafuselabs/openraft/pull/76

[2022-01-06 07:22] #28 closed

[2022-01-06 09:06] Veeupup commented on #61
@YangKian hi, this issue may have a strong connection with #49 , it seems difficult to finish each one alone, so do you want to combine these two issues into one pr to fix them or any other advice?

[2022-01-06 10:28] #30 closed

[2022-01-06 10:51] #29 closed

[2022-01-06 13:25] YangKian commented on #61
@Veeupup Sorry for the late reply. Is it blocking something on your side? It seems to be working fine on my side, at least the tests passed after the changes were made,  if I'm not missing something. I'll fill the pr later, and if my side is blocking your progress, it's ok to leave it to me XD

[2022-01-06 13:39] #31 closed

[2022-01-06 14:05] Veeupup commented on #61
@YangKian  yeah, u can finish it later. from my side, it will make nonsense if `last_id_in_log()` and some function return `LogId` ranther than `Option<LogId>`.

[2022-01-06 14:28] YangKian commented on #61
@Veeupup Ok, let me handle it~

[2022-01-07 03:17] eliasyaoyc commented on #45
what i understand is pre-appened a membership log at index 0,with term 0 that helpful for the cluster first startup, as your said we don't need to judge `last_log_index`.
But not first startup, even if add this index 0 term 0 log , it will be skipped without any impact
Right?

[2022-01-07 03:25] drmingdrmer commented on #45
If a node has received any log from some Leader, when starting up it has not to add a log at (0,0);

If a node has no logs at all, when `initialize(members)` is called, it should add a membership log at (0,0);

[2022-01-07 03:28] eliasyaoyc commented on #45
Okk，i seem to understand.

[2022-01-07 03:29] eliasyaoyc commented on #45
/assignme

[2022-01-07 04:01] drmingdrmer commented on #62
- fixed in #65

[2022-01-07 04:01] #62 closed

[2022-01-07 04:06] drmingdrmer commented on #45
@eliasyaoyc
I am not fully sure this issue can be done before #49 and #61 are done. 🤔

[2022-01-07 04:19] eliasyaoyc commented on #45
today or tomorrow.

[2022-01-07 05:14] drmingdrmer commented on #45
I mean, this issue may be affected by the changes introduced by #49 and #61

[2022-01-07 05:34] eliasyaoyc commented on #45
OKk, when #49 and #61 is over, l will start.

[2022-01-07 08:09] lichuang opened #88 "raft.rs change_membership function call RaftMsg::ChangeMembership twice"
in raft.rs, change_membership function call RaftMsg::ChangeMembership twice with the same params (first to joint config, second to uniform config),this may make source readers confused.

How about add a param to indicate the action(joint,uniform) instead, this will make code more clearly.

[2022-01-07 09:00] eliasyaoyc commented on #88
emmm, like this?

[code]

[2022-01-07 09:52] lichuang commented on #88
yes, you got it!

[2022-01-07 16:59] drmingdrmer opened #90 "RaftNetwork should return predefined error types instead of using anyhow::Error."
The sender side should check the error type to determine whether to retry or not.

E.g. when the remote `RaftCore` is shutting down, any further RPC should not be sent anymore.

[2022-01-08 11:37] #61 closed

[2022-01-10 03:05] #88 closed

[2022-01-10 04:32] drmingdrmer commented on #88
Explained why the phase `Joint` or `Uniform` does not help:
https://github.com/datafuselabs/openraft/pull/89#discussion_r780387366

[2022-01-10 08:04] drmingdrmer commented on #5
The cause is: in a cluster of 3 nodes, only 1 granted vote is required to become the leader.

Thus to the 3rd node, it may receive a heartbeat from the leader before receiving the vote request.

And the follower saves hard state `term=msg.term, voted_for=None`, and reject the delayed vote request.

Thus finally the saved hard state is left `term=1, voted_for=None`.

[2022-01-10 08:22] #5 closed

[2022-01-10 09:37] drmingdrmer opened #96 "Add Test: handle_append_entries should save hard state with vote_for to be the leader instead of None."
This should be a unit test for a method and does not need to be an integration test.

There may be some refactoring work to be done to make unit test against `handle_append_entries()` easier to write.

Problem:

A follower saves hard state `(term=msg.term, voted_for=None)`
when a `msg.term > local.term` when handling append-entries RPC.

This is quite enough to be correct but not perfect. Correct

[2022-01-10 13:58] YangKian commented on #49
Hi~ I have an idea to discuss with you guys, using `Option<LogId>` instead of last_log_id introduces a lot of `unwrap` operations, fortunately, PR #94 adds a return error type for many APIs, so I would like to add a helper function for `RaftCore`:

[code]
use `option.ok_or_else()` to convert `None` to an Err.

What do you think? Also regarding the error type returned, should I add a new error type

[2022-01-10 14:42] YangKian commented on #49
I see, thanks for the advice!

[2022-01-11 03:32] #54 closed

[2022-01-11 06:45] drmingdrmer commented on #54
Hmm... not exactly. I was wrong about it last time we discuss it:
- line-14 is required to forward every log even when there is no incoming event about new logs.
- line-13 is required to shut the replication down at once even when there are still a lot of logs that need to be sent.

[code]

[2022-01-11 07:16] lichuang commented on #58
use a bigger election timeout to avoid this problem : https://github.com/datafuselabs/openraft/pull/100

[2022-01-11 07:16] #58 closed

[2022-01-11 11:43] drmingdrmer opened #102 "Remove blocking mode change-membership"

[2022-01-11 14:38] #49 closed

[2022-01-12 03:28] eliasyaoyc commented on #45
general plan, add a param on `RaftInner`.
when `RaftCore::spanw` called, then `get_log_state` will used that determine this node whether received any log.
no log mark this param is true,  then identify this param to determine whether to send term 0,index 0 log.

[2022-01-12 05:48] drmingdrmer commented on #45
What is the name of **param** that will be added? Since IMO, it could always read the state from storage without the help of other additional fields.

Currently, the implementation adds a blank log entry at term:0, index:0, so that the initial value of such as `last_log_id` is valid.

I've been trying to remove this initial log `term:0,index:0`. After these get merged, it'd be simpler to get this

[2022-01-12 06:02] eliasyaoyc commented on #45
I don't know how to notify `initialize(members)` that needs to add a `term:0, index:0` log without additional field.

[2022-01-12 06:06] drmingdrmer commented on #45
`self.core.last_log_id.is_none()` would be enough to ensure it is a uninitialized node I think 🤔

[2022-01-12 06:20] eliasyaoyc commented on #45
yes, `last_log.is_none()` can complete this work.
but `initialize(members)` haven't core reference.
[code]
[code]
Is there something wrong with my understanding? 😭

[2022-01-12 06:45] lichuang commented on #96
pr:https://github.com/datafuselabs/openraft/pull/105

[2022-01-12 06:45] #96 closed

[2022-01-12 17:14] SGZW commented on #44
sorry for delay this, I'm busy with other things recently

[2022-01-13 05:13] drmingdrmer opened #106 "Draft: Append-entries reply does not need `matched` and `conflict`"
If append-entries matches remote log, the `matched` is always the last log id in the RPC.
If append-entries conflict with remote log, the `conflict` is always the `prev_log_id`.

Thus there is no reason to keep these two field in append-entry reply.

[2022-01-14 05:51] drmingdrmer commented on #45
These should be done in `handle_init_with_config()`.

I've get this done in: https://github.com/datafuselabs/openraft/pull/107/files#diff-2b96982d340b2d4f989026d55516c495678f2320fe05d2841c65748f52c42ff5

[2022-01-14 05:52] drmingdrmer commented on #45
- fixed in #107

[2022-01-14 05:52] #45 closed

[2022-01-14 17:09] drmingdrmer commented on #106
Fixed

[2022-01-14 17:09] #106 closed

[2022-01-15 06:25] #50 closed

[2022-01-15 14:47] #56 closed

[2022-01-18 09:50] drmingdrmer opened #124 "Add Doc: explain send_append_entires"
This method is a bit complicated and needs a nice explanation.

It involves:
- binary search for the matching log id on a follower.
- loading log entries from non-snapshot storage API.
- deal with lack-entry error and switch to snapshot replication.

[2022-01-18 14:01] YangKian commented on #124
Hi, can I claim this assignment？ I‘m studying the code, doing some output may help me check my understanding. I will try my best to finish it this week.

[2022-01-18 14:08] drmingdrmer commented on #124
Appreciating!

[2022-01-18 14:10] YangKian commented on #124
Thanks XD

[2022-01-18 14:11] lichuang commented on #124
cool,maybe we could build the doc together like wiki.

[2022-01-18 14:30] drmingdrmer commented on #124
Hmm... the wiki page sometimes runs out of date with the source code.

What about the online guide, which is always sync-ed with the `main` branch:
https://datafuselabs.github.io/openraft/

And updating the markdown in the `guide/` folder would be as easy as the wiki.

[2022-01-18 15:13] YangKian commented on #124
Sounds interesting, I'd like to join.

Agreed, the online guide is more appropriate, we can update the guide directly

[2022-01-19 13:14] drmingdrmer opened #130 "> And there should be well-defined what to do when a member is removed from Membership.members(): The options are: turn it to a learner, or just remove it."
cool,maybe we can open an new issue to refactor this function.

_Originally posted by @lichuang in https://github.com/datafuselabs/openraft/issues/129#issuecomment-1016416309_

[2022-01-20 07:36] drmingdrmer opened #137 "> It seems we should add learners and change members in one log entry. Then there won't be such a problem."
yes,i agree with this,i will refactor the source.

ok, assign a new issue to me.

_Originally posted by @lichuang in https://github.com/datafuselabs/openraft/pull/129#discussion_r788441250_

[2022-01-20 10:21] #39 closed

[2022-01-20 12:25] drmingdrmer opened #140 "Add RPCError; methods in trait Network returns RPCError instead of anyhow::Error"
`anyhow` should not be used in a lib. It can not express correctly what is actually going wrong.
E.g. a transport error or storage error emitted by the remote peer.

API needs explicit error type:
[code]

[2022-01-20 18:48] drmingdrmer opened #142 "Draft: introduce type Leader{term, node_id}"
Although in raft there is only one leader per term, a `Leader` is an essential concept behind the simplified raft terminology.

E.g. Voting is actually comparing two vectors: `(Leader, last_log_id)`.

[2022-01-23 07:00] drmingdrmer opened #144 "Remove anyhow::Error from non-test codes"

[2022-01-23 10:59] #140 closed

[2022-01-23 11:03] #90 closed

[2022-01-23 11:10] #18 closed

[2022-01-23 12:14] #144 closed

[2022-01-23 15:10] drmingdrmer opened #146 "Avoid using `set_target_state()` everywhere to modify raft state."
If one piece of code updates the state(e.g., to Leader or Follower), then every other code has to check the state change before going on.

A better way is to return an error indicating state change, to shutdown the current state procedure, and notify the top level to switch to the expected state.

[2022-01-23 15:29] drmingdrmer opened #147 "Avoid `report_metrics()` everywhere"
Currently, if it noticed some state is changed, it calls `report_metrics()` at once to broadcast the change.
`report_metcis()` is not that cheap and should be avoided being called frequently.

A better way may be to report once after dealing with one event. Because openraft is event-driven thus if there is no incoming event, the metrics will never change. E.g.: just call `report_metrics()` once at

[2022-01-24 01:21] YangKian commented on #124
Sorry I've been so busy lately :crying_cat_face: , I may need another 2 - 3 days to complete this task. Here I'd like to synchronize the progress, I've finished reading most of the relevant code and started to organize the documentation, there are still some areas that need further confirmation, and I also want to read some code of the relevant tests. I‘ll finish it as soon as possible.

[2022-01-24 03:38] drmingdrmer commented on #124
That's OK man~

[2022-01-24 09:41] lichuang commented on #137
https://github.com/datafuselabs/openraft/pull/129

[2022-01-24 09:41] #137 closed

[2022-01-25 19:14] ariesdevil opened #151 "Send heartbeat with a blank log"
We can change sending heartbeat with a blank log that we can combines heartbeat with `append entry`

[2022-01-25 19:58] #142 closed

[2022-01-26 05:08] drmingdrmer opened #152 "Flaky test: leader_metrics() fails because it does not wait for metrics to change."

[2022-01-26 09:15] #44 closed

[2022-01-31 18:13] ppamorim opened #153 "Demo"
Could you please add a demo for that, I am trying to follow the tutorial but it's missing a lot of information. Would be nice to have a simple demo implementation of multiple server running and applying the consensus. The content inside `Getting Started` is just a base implementation of what this library could be. For example:

What `get_id_from_storage()` could be?
How to properly implement `Raft

[2022-02-01 16:42] ppamorim commented on #153
@BohuTANG Could you please help me to understand better the project, so far I could implement that: https://github.com/ppamorim/t-pro-cognito

[2022-02-01 17:05] BohuTANG commented on #153
I think @drmingdrmer will give some comments here later

[2022-02-01 17:09] ppamorim commented on #153
@BohuTANG Thank you. I am more than happy to create a very consice demo for the project if you help me to understand how to read/write to the cluster.

[2022-02-01 17:38] ppamorim commented on #153
@BohuTANG @drmingdrmer When migrating, I get this error:

![Screenshot 2022-02-01 at 17 37 21](https://user-images.githubusercontent.com/5521682/152020827-872ec256-4cc3-4b8b-9ce3-b6e96638b19d.png)

Isn't `MemStore` supposed to be transparent for `openraft`?

[2022-02-02 04:55] drmingdrmer opened #155 "Update the demo, create a complete raft application as demo"
- Originally mentioned by @ppamorim in #153

TODO:

- [ ] Create demo implementation of `RaftNetwork`.
- [ ] Make crate `memstore` a key-value store to precisely reflect what real-world storage is like.
- [ ] Build an example that brings up a 3-nodes raft cluster application.
- [ ] Update `getting-started.md` to show how to build this example app.

[2022-02-02 05:04] drmingdrmer commented on #153
@ppamorim Thank you so much! These questions expose what is lacking in this repository.

I'm gonna answer them in some separate comments in this issue and gonna provide additional info for users in several pull-request.

To create a raft node, an `ID` has to be assigned to the raft node instance.
Where it is stored is up to the application: make it a field of the implementation of `RaftStorage`, o

[2022-02-02 10:26] ppamorim commented on #153
@drmingdrmer Thank you for the lovely answer, I am more than happy to help in the implementation of the demo.

[2022-02-02 10:33] ppamorim commented on #155
@drmingdrmer I can implement in a PR the base for the demo and we can work together on that, what about it?

[2022-02-02 12:25] drmingdrmer commented on #155
@ppamorim
There is still something in openraft not that clear to a user.
I'm working on a draft runnable demo cluster implementation based on your repo.

Then you could just review and help on improve it:DDD

[2022-02-02 15:19] ppamorim commented on #155
@drmingdrmer Nice, I am really happy to see that something is being created around that. To help you better, I created this branch in my fork that you can use as inspiration: https://github.com/ppamorim/openraft/tree/feature/demo/example
It's not compiling but it will give you a idea what I am trying to do.

[2022-02-02 15:48] drmingdrmer commented on #155
@ppamorim
I just created a PR:
https://github.com/datafuselabs/openraft/pull/156
Hoping it explains things.
Looking forward to your advice!

Yes, the network layer is almost copied from your codes when I was building this example :DDD.

[2022-02-03 10:08] drmingdrmer opened #157 "I think this could result in stale reads if the request reaches a node that is not the leader, right?"
I think this could result in stale reads if the request reaches a node that is not the leader, right?

IMHO an endpoint with potential stale reads could be very useful in many applications, but it should be explicit that it could be a stale read. Adding another endpoint based on `client_read` would be good.

_Originally posted by @MikaelCall in https://github.com/datafuselabs/openraft/pull/156#dis

[2022-02-03 11:18] MikaelCall commented on #155
@drmingdrmer

I would consider adding a client implementation as well since "all communication has to go through the leader" and "it is the clients responsibility to send requests to the leader". That is, show a simple client implementation that handles `ForwardToLeader` errors.

I'm very happy that you put the demo together :heart:. I think it'll help a lot of people. In particular using HTTP end

[2022-02-03 11:29] drmingdrmer commented on #155
Good point. Make it a new issue :D.
In #156 the client side is just a simple shell script with `curl`, for simplicity.
I'm gonna add a rust client implementation.

[2022-02-03 11:29] drmingdrmer opened #158 "adding a client implementation"
@drmingdrmer

I would consider adding a client implementation as well since "all communication has to go through the leader" and "it is the clients responsibility to send requests to the leader". That is, show a simple client implementation that handles `ForwardToLeader` errors.

I'm very happy that you put the demo together :heart:. I think it'll help a lot of people. In particular using HTTP end

[2022-02-03 16:07] ppamorim commented on #153
I will close this issue due being slate.

[2022-02-03 16:07] #153 closed

[2022-02-04 15:01] ppamorim commented on #158
@drmingdrmer @MikaelCall I successfully sorted that by doing this: https://github.com/ppamorim/openraft/blob/example/example-raft-kv/src/network/api.rs#L39-L72

[2022-02-05 14:02] ppamorim commented on #155
@drmingdrmer I think this issue can be closed by now. :)

[2022-02-05 14:41] ppamorim opened #161 "Demo: Implement protobuf for RPC"
Would be nice to have the example using protobuf for the inner communication between nodes. I will implement that in a separated project, if it works I will implement that on the demo, if any interest is present.

[2022-02-05 14:42] ppamorim commented on #161
/assignme

[2022-02-05 18:41] ppamorim commented on #161
@BohuTANG I could implement something but the implementation is TERRIBLE and I am ashamed to ever write this code.

[2022-02-06 02:27] #155 closed

[2022-02-06 07:21] #152 closed

[2022-02-06 07:34] drmingdrmer opened #162 "Store Node in Membership instead of just a NodeId"
Introduce a new trait Node as the type of node.
`Membership` stores an implementation of `Node` instead of just a node id.

Why:

There is a circular dependency:
Node address has to be stored and replicated by the raft cluster.
Raft depends on node address info for communications.

Thus there is no way to initialize a cluster of more than one node.
One has to initialize a single node cluster, writ

[2022-02-06 10:24] MikaelCall commented on #158
Like all interesting questions the answer is "it depends" ...

* Yes. The implementation pointed to is convenient and kind of solves the problem in practice. I think there is a theoretical risk of an infinite recursion for unlikely failure scenarios that have to be considered (cf metasrv in the databend repo).
* My main purpose with suggesting a client implementation was clarity and being explicit

[2022-02-06 10:37] MikaelCall commented on #161
@ppamorim

The solution that I've seen most often is to use gRPC and tonic. This will be more efficient than using HTTP like the demo is ATM. However, one major benefit of using HTTP in the current demo is that it is very easy to follow (more familiar, no codegen, etc). This is IMHO one of the main benefits with the demo: simplicity. When you want an "advanced demo" more ready for production, look

[2022-02-07 16:17] drmingdrmer opened #165 "RaftRouter does not have to use `tokio::sync::RwLock` for routing_table and isolated_nodes"
RaftRouter does not have to use `tokio::sync::RwLock` for routing_table and isolated_nodes.
`std::sync::Mutex` is good enough.

`routing_table` and `isolated_nodes` do not have to hold a lock across `await`.
We can just: acquire a lock(), clone the `Raft` or `Arc< StoreWithDefensive>` then release the lock.

https://github.com/datafuselabs/openraft/blob/4ce50a3674732e41feafb0115f37c38632c52ca3/ope

[2022-02-07 16:47] #158 closed

[2022-02-08 04:51] drmingdrmer opened #167 "Draft: continuous electing"
# Problem

In the original raft, if a higher term is seen, a leader will revert to a follower, a follower will deny any further replication from the current leader.
This causes a short out of service interval during which the cluster does not serve for client requests.

Although It can be solved with pre-vote, which is ugly and brings in unnecessary complexity to correctness proof.

# Solution

An

[2022-02-08 06:05] tangwz commented on #165
/assignme

[2022-02-09 04:12] drmingdrmer opened #169 "API: support batch write"
1. `openraft::raft::RaftMsg::ClientWriteRequest`:
Change `rpc` to a `Vec` to contain more than one client request:

[code]

2. Update API `client_write()` to support submitting more than one log at a time.

Considerations:
- Is it legal to have zero-length `Vec` in a `ClientWriteRequest`? If it is legal, maybe it has to be dealt with: because it does actually append any log, and a reply should be

[2022-02-09 04:56] drmingdrmer opened #170 "CI should test exmaple-raft-kv too."
example-raft-kv is not a member of the workspace and should be dealt with separately in the CI github workflow.

[2022-02-09 05:06] drmingdrmer opened #171 "ClientWriteRequest can be removed? It looks like just a useless wrapper."
It may be feasible to use `EntryPayload<D>` to replace the use of `ClientWriteRequest`.

[code]

[2022-02-15 17:00] ppamorim opened #173 "send_append_entries suddenly sending big amount of data"
My application is based on the key-value example.

By inserting a big amount of data on the leader, there is a chance that one of the nodes will receive a big amount of data, causing the trasmission being cancelled.

On a learner instance, I am getting this error:

[code]

Analysing the leader:
[code]

Every call to `/write` causes a call to the `send_append_entries` function, in a normal conditio

[2022-02-16 13:01] ppamorim opened #178 "Example: list-nodes could verify if the nodes are still alive"
I wonder if we could modify that function in the example to inform if the nodes are alive and being able to receive a heartbeat. I am aware that they are kept there because this function reads the state machine and returns the vec of nodes.

[2022-02-16 13:08] drmingdrmer commented on #178
It is piece of cake to implement this function.

But the aliveness reported by a casual node is not reliable: There is a chance the communication between the endpoint node A and B is down but the leader(maybe C) is still able to reach B.

[2022-02-16 13:16] drmingdrmer commented on #173
The max number of entries in an append-entries request is limited by `Config::max_payload_entries`which is 300 by default. Reducing this config value might solve this problem.

Tokio schedules tasks in an imperative way. A `replication` task runs as long as it can be until there are no more things to do for it. (Unless it runs for too long, in which case it will be scheduled by tokio runtime at so

[2022-02-16 13:28] drmingdrmer commented on #173
The state machine applies one log at a time.
If a `BatchSet` is just one log entry, it should be applied to the state machine altogether.

Unless you split the `BatchSet` into multiple calls to `app.raft.client_write()`.

In raft an append-entries RPC with no entries in it is used as a `heartbeat` request if there are no pending log entries to send.
If there are pending logs, a heartbeat RPC will

[2022-02-16 14:29] ppamorim commented on #173
Understood, I did the changes you informed and `BatchSet` is gone, now the application will call `app.raft.client_write()` for each entry. It seems to be working with small datasets.

But I have a problem...

My setup is the follow:

- 3 nodes running in the local host, being the node running in the port 8100 the leader, and 1 node running in another machine in the same network (`37034260811757135

[2022-02-16 14:48] drmingdrmer commented on #173
It seems like the remote peer is starved because a task has been too busy sending logs to the local peer.

And if the remote peer did not receive append-entries RPC for a while, it believes the leader is gone and starts to elect itself(in Candidate state).

The interval before a follower becoming candidate is controlled by `next_election_timeout`, check out `update_next_election_timeout()`.

Exten

[2022-02-16 14:56] ppamorim commented on #173
@drmingdrmer I will try to double the `election_timeout_max`,isn't 300ms too low for a real world application? In the locahost each node has 10 workers, in the remote peer it's 2 workers.

[2022-02-16 15:37] drmingdrmer commented on #173
To me, it looks quite enough 🤔

[2022-02-16 15:41] ppamorim commented on #173
@drmingdrmer It had a improvement by replacing the App's `Arc<reqwest::Client> with a simple instace of `reqwest::Client`. It seems like `reqwest` stops sending RPCs to the remote peer, very strange.

[2022-02-16 16:02] ppamorim commented on #173
@drmingdrmer It's the same you had before that situation where I had to move it to the organization, you should have received the email from Github.

[2022-02-16 18:08] ppamorim commented on #173
@drmingdrmer I think I found the reason why this is happening.

_You won't believe me..._

But please first read this report:

<img width="518" alt="Screenshot 2022-02-16 at 18 05 03" src="https://user-images.githubusercontent.com/5521682/154328117-6b49ee9f-c870-488d-a7f0-bc98ee25ddf5.png">

My secondary machine (a old MBP) has the correct time and I was running the remote peer on that. I suspect

[2022-02-16 22:49] ppamorim commented on #173
@drmingdrmer That was the problem! I called Apple and they helped me to sort it out. The remote peer was trying to contact the leader and due to the time difference, it was causing the network to reject the request.

[2022-02-16 22:50] ppamorim commented on #173
I will close the issue because it has been already answered. Thank you @drmingdrmer

[2022-02-17 02:32] drmingdrmer commented on #173
What??? I can not understand why skewed time on different peers breaks the communication:
On TCP layer or HTTP layer, I do not know anything about absolute time that will affect the connection.
And the raft engine does not depend on the absolute time of another peer either.

🤔

[2022-02-17 02:52] ppamorim commented on #173
@drmingdrmer I really don't know but I suspect that the leader peer (on actix) was rejecting because the request was made in the future, this might be some sort of MiTM prevention. But now I am able to use the crate as expected! :)

I think I will reopen this issue. I would suggest you to add a way to softly bypass the flag `max_payload_entries` for specific `impl AppData` enum/structs (in my case

[2022-02-17 03:34] drmingdrmer commented on #173
Right normally there should be 2 config entries for the payload: max number of entries and max size in bytes for a payload.

[2022-02-17 03:39] drmingdrmer opened #181 "normally there should be 2 config entries for the payload: max number of entries and max size in bytes for a payload."
Right normally there should be 2 config entries for the payload: max number of entries and max size in bytes for a payload.

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/openraft/issues/173#issuecomment-1042539657_

[2022-02-17 04:49] drmingdrmer commented on #173
@ppamorim
Is there a script in your development branch to reproduce the problem that heavy load starves append-entries RPC?

[2022-02-17 10:28] ppamorim commented on #173
@drmingdrmer I would recommend you to go to the file `client/client.js` and comment the function call `start()` at the bottom and uncomment the function call `createUsers()`, and the functions `createUsers()` and `createUsersChunk`, it will create a `count * chunk` users. You invoke this function by running `node client.js`.

You can invoke the nodes manually, but what I can do is:

 - Run `start-

[2022-02-17 11:01] ppamorim commented on #181
@drmingdrmer Remapping my suggestion to use an trait for that, could be more interesting this below?

[code]

If `Foo` does not implement `Metrics`, `openraft` could assume that size is 1 always.

[2022-02-17 14:41] drmingdrmer opened #182 "enable log compaction on follower and learner"

[2022-02-17 15:38] drmingdrmer commented on #173
Hmm... it's a bit complicated.

[2022-02-17 15:40] drmingdrmer commented on #181
I'm thinking about what you need is a batch client_write():

[code]

This way, a user does not need to implement the batching mechanism manually.

[2022-02-18 02:48] drmingdrmer commented on #173
Let me build a test in rust to reproduce it so that we can re-check this issue at any time.

IMHO there are two conditions that require are:
- A big entry to append,
- A relatively slow peer, e.g. on a remote machine.

Right?

About the skewed time, the raft does not send timestamps across nodes.
Have you ever had such an issue with a raft cluster on time-synchronized machines?
I'm gonna find out

[2022-02-18 02:50] drmingdrmer commented on #181
You are right. Let me fix the entry payload size limit issue first.

[2022-02-18 07:36] zys864 opened #183 "Duplicate `rust-toolchain` and `rust-toolchain.toml` (for compatibility?)"
Duplicate `rust-toolchain` and `rust-toolchain.toml` in the crate.

This crate use both of them for compatibility?

Here is the doc from [rustup book](https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file)

[2022-02-18 09:42] drmingdrmer commented on #183
There is an issue with github-action `actions-rs/toolchain`: it does not recoganize the `rust-toolchain.toml` but just `rust-toolchain`.

It seems it has been fixed. I'm gonna remove the plain text one as I confirmed it is fixed.

[2022-02-18 10:34] ppamorim commented on #173
@drmingdrmer Hi :) When the time in synchronized the instances work as expected. The issue relies on `actix-web` or `reqwest` network layer, raft is just fine.

[2022-02-18 11:02] drmingdrmer commented on #173
You mean it's actix-web's fault or reqwest's fault ??? 😲

[2022-02-18 11:14] #170 closed

[2022-02-18 11:14] #165 closed

[2022-02-18 11:31] drmingdrmer commented on #183
Does not work yet.
https://github.com/drmingdrmer/openraft/runs/5246849191?check_suite_focus=true

https://github.com/actions-rs/toolchain/issues/126

[2022-02-18 12:37] #162 closed

[2022-02-19 00:27] fredfortier opened #185 "Troubleshoot a Higher Vote Error"
I recently upgraded from an earlier alpha to v0.6.4. I worked out most of the kinks, but I'm seeing an error like this in my integration tests after a new node joined the cluster.

[code]

Do you have a rough idea of what could be causing this to help me troubleshoot? I want to configure the cluster to be as stable when possible (err on the side of no reelection unless the leader goes offline long

[2022-02-19 02:16] ppamorim commented on #185
Hi @fredfortier. I will try to help you but I am not the best one. Could you please list what steps you did to configure the cluster and for how long the cluster keeps running stable? Also what's the size of the logs and what server/client is it using?

[2022-02-19 04:42] ppamorim commented on #185
@fredfortier  what system(s) are you testing the cluster and could you try to open https://time.is on all machines to check the time diff? It should not be more than or equals 1s.

[2022-02-19 12:36] lichuang commented on #130
https://github.com/datafuselabs/openraft/pull/148

[2022-02-19 12:36] #130 closed

[2022-02-19 18:43] fredfortier commented on #185
@ppamorim This is in context of an integration test where nodes share the same Tokio runtime. I'll grab some debug logs. I haven't seen this yet when testing with a Docker-based cluster with independent nodes. Thanks for the pointers!

[2022-02-19 18:46] ppamorim commented on #185
@fredfortier Possibly it's the payload size causing the node to cavitate and get elected out.

[2022-02-19 18:51] fredfortier commented on #185
Do you mean the snapshot payload? My snapshots are large and I did have problems in earlier versions with the streaming apparatus (mismatching offsets type errors).

[2022-02-19 19:14] fredfortier commented on #185
@drmingdrmer I see the message you're talking about. I believe all nodes are using the same clock unless there's a Tokio issue I'm not aware of.
[code]
What I see here is that node2 immediately reacted to `build_snapshot` after joining the cluster. It could be because my snapshot size is artificially low for testing. Could doing log compaction cause nodes to be unresponsive? What would be the best

[2022-02-19 19:24] ppamorim commented on #185
@fredfortier No I mean the payload from `AppendEntriesRequest`. You can verify the amount of payload in the function `send_append_entries(...)`.  Could you please test this configuration below?

[code]

  Please do not use this configuration in production, it's just to test your use case.

[2022-02-19 19:58] fredfortier commented on #185
@ppamorim I tried using the config above but got the same error:
[code]
I can confirm that the payload size is always either zero or one.
[code]
Do you see anything strange or out-of-order in the logs above? It's adding node2 as a learner but timing out after sending it an append entry. Node2 is joining with a pristine state, like node1 did successfully before. Should the leader be appending entri

[2022-02-19 20:04] ppamorim commented on #185
@fredfortier Would be possible to create a small demo that can reproduce the issue?

[2022-02-19 20:06] fredfortier commented on #185
Yes, I'll keep on troubleshooting and do that if I can't resolve this issue. Thanks for all the pointers!

[2022-02-19 20:07] fredfortier commented on #185
Assuming a user/implementation issue. I'll reopen if I can reproduce in isolation.

[2022-02-20 00:29] fredfortier commented on #185
I think I figured it. Basically, after a node joins the cluster, there's a warm up period in which the state is locked. During this time, the follower node waits for the state to unlock to respond to `append_entry` heartbeats. If this takes longer than the re-election timeout, a re-election is triggered.

Assuming this is expected behavior, what's the correct way temporarily bring a node offline w

[2022-02-20 02:15] drmingdrmer commented on #185
@fredfortier
Yes, installing snapshot blocks the RaftCore, which is single-threaded.

Log compaction is done in another tokio task. It won't block RaftCore, unless the implementation of RaftStorage blocks, then RaftStorage may block RaftCore.

I'm gonna add a config to limit the size of a single payload.

[2022-02-20 02:25] drmingdrmer commented on #185
@fredfortier
What's the `state` you mentioned? Do you mean the state machine?

@fredfortier
If RaftCore starts to run, there is no way to prevent it from entering the Candidate state.

If the warm-up is to warm up the store, is it possible to warm up the store before using it?

[2022-02-20 22:07] fredfortier commented on #185
The reason for locking the state machine is at the application layer, outside of the `RaftStorage` implementation. Basically, it goes offline while replaying transactions. I can implement differently to avoid this offline period, but more generally, a follower may go offline for other reasons (e.g. no network access). In this case, the `append_entry` heartbeats sent by the leader will fail. I expe

[2022-02-21 01:58] drmingdrmer commented on #185
@fredfortier
A crashed follower going online is totally OK.
But a blocking RaftStorage is a different story: The follower created a timer when started to run, then blocked on RaftStorage, then it found the timer was triggered,  as that time, the follower was believing the leader has gone.

Maybe there is a solution to this problem:
When an election timeout event and an append-entries event are bot

[2022-02-21 04:23] GrapeBaBa commented on #169
/assignme

[2022-02-21 06:38] zys864 commented on #183
But both exist in crates, only `rust-toolchain` works according to rustup book.

[2022-02-21 17:20] fredfortier commented on #185
What I was thinking intuitively is just raise an error as the follower.
[code]
On the leader side, I would think this is the same as if the node lost it's network connection.
[code]
The `do_send_append_entries` method sends the RPC call to the replication channel via HTTP. As a minimal implementation, I just remap any HTTP error, whether 404 server offline or 500 busy errors to this particular `St

[2022-02-21 21:38] fredfortier commented on #185
I looked into the `example-raft-kv` and adjusted by `RaftNetwork` impl to this.
[code]
I assume that `NetworkError` produces a different behavior form `StorageError`. Please let me know if I'm misunderstanding the intent of these error types.

[2022-02-22 00:56] ppamorim opened #194 "Further restrict BTreeMap for implementations where BTreeSet was present."
I might be wrong but by doing this on the current source from the main branch is possible:

[code]

This was the expected setup for older versions of the crate, not it was changed to `BTreeMap`, worth restricting it further?

Thank you.

[2022-02-22 01:56] ppamorim commented on #194
Already explained here: https://github.com/datafuselabs/openraft/pull/184

[2022-02-22 01:56] #194 closed

[2022-02-22 07:43] drmingdrmer opened #195 "Add performance regression test: with 1 node, 3 nodes and 5 nodes"
Currently, it's a completely in-memory operation. There are three replicas, each holding a trivial "state machine" holding nothing (both data and response are empty) and a log, which is a map of log index to the `Entry` in an EBR-protected container (our own EBR implementation with only 7-12ns/protect op overhead on current machines, but the one in crossbeam should be reasonably close performance-

[2022-02-22 09:06] #183 closed

[2022-02-22 11:19] drmingdrmer commented on #194
It can be done with either BTreeSet or BTreeMap.
With a BTreeSet, you have to manage the node information yourself. But why bother? :DDD

[2022-02-22 12:17] drmingdrmer opened #197 "AppendEntriesResponse should be an enum of the returned state."
Currently `AppendEntriesResponse` is:
[code]

The leader has to check if a combination of these three fields is valid. E.g. `success ==  true && conflict == true` is an invalid combination.

It's better be a enum like:
[code]

[2022-02-22 12:27] drmingdrmer commented on #185
A `StorageError` means the server has to shut down at once, to prevent a further data damage.

And mapping a remote StorageError to a NetworkError will confuse its caller: an error that happened on a remote peer and an error that happened on transmission should not include each other.

[2022-02-22 12:32] drmingdrmer commented on #185
@fredfortier
Assumes the openraft should allow the `RaftStorage` to block for a long time, then it is openraft's fault:
It should update the next-election-timeout after after calling RaftStorage, instead of before it.
This way the delay won't cause a timeout in the next loop:
https://github.com/datafuselabs/openraft/blob/2055a236682f1456f453677676e32f78a43f1cbe/openraft/src/core/mod.rs#L1048-L1069

[2022-02-22 12:57] #178 closed

[2022-02-22 14:17] ppamorim commented on #173
I will close this issue in favor of the new one.

[2022-02-23 06:13] drmingdrmer opened #202 "Add FAQ"
Some common questions are about cluster management such as:
https://github.com/datafuselabs/openraft/discussions/200

[2022-02-23 06:14] drmingdrmer opened #203 "Example-raft-kv: add demo code about re-election, go back online, adding/removing nodes"

[2022-02-23 10:04] drmingdrmer opened #204 "Reduce generic types in `Raft` to one, which would provide all necessary types as associated types"
Yeah, but the number of generics then keeps increasing. I was thinking about a different approach: instead of adding generics, reduce them to one, which would provide all necessary types as associated types. Then it's extremely easy to add further required types (one-liner for the user to adapt to the change) and also to set defaults (once the relevant Rust feature is complete; then no effect for

[2022-02-23 10:21] schreter commented on #204
I can address this after it's decided how to handle the first step of refactoring (see https://github.com/datafuselabs/openraft/pull/199). Because changing it in parallel will create a huge amount of conflicts :-).

[2022-02-24 07:18] lichuang commented on #182
every time handle append message, `RaftCore` will call `trigger_log_compaction_if_needed` to check if or not trigger log compaction.

[2022-02-24 07:18] #182 closed

[2022-02-24 11:13] ygf11 commented on #197
/assignme

[2022-02-24 14:57] schreter opened #205 "Add a `Runtime` configuration where underlying types are abstracted"
This depends on https://github.com/datafuselabs/openraft/issues/204.

The `Runtime` configuration should abstract:
- timing
- async executor
- synchronization primitives
- ...

This will allow addressing further stuff, especially making tests deterministic (and fast).

[2022-02-24 15:01] schreter opened #206 "Make tests deterministics"
This depends on https://github.com/datafuselabs/openraft/issues/204 and https://github.com/datafuselabs/openraft/issues/205.

Currently, tests use real-time timers, which quite often cause non-deterministic results and as a consequence test failures (false positives).

Instead, create a test `Runtime`, which abstracts the "real" runtime and timing and provides a top-level simple executor "ticking"

[2022-02-24 17:52] schreter commented on #169
Just a note: please no `Vec<T>`. We need to get rid of them in all places in favor of something zero-cost, like `impl IntoIterator<T>` or similar, since a `Vec` is just an unnecessary memory allocation.

I personally dislike `Vec`, `String` and similar, since these allocations are variable-sized. This is in general causing fragmentation in the memory manager, which leads to slowdowns and sooner or

[2022-02-24 17:56] schreter opened #207 "Make serde optional"
Currently, all types require `serde` serialization. Many "real" systems will likely use some more advanced serialization (like Cap'n Proto, FlatBuffers, Protobufs/gRPC), which do not need this and just create a burden on the developer.

Change the structures in such a way that `serde` is optional (e.g., as an optional feature).

[2022-02-25 07:03] drmingdrmer opened #208 "Using a channel to asynchronously receive a reply from StateMachine::apply()."
The reply should happen asynchronously, somehow. Make this method synchronous
and instead of using the result, pass a channel where to post the completion.

The Raft core can then collect completions on this channel and update the client
with the result once all the preceding operations have been applied to the state
machine. This way we'll reach operation pipelining w/o the need to wait for the
c

[2022-02-25 07:40] drmingdrmer opened #209 "Consider refactoring Snapshot type bound."
This interface is geared toward small file-based snapshots. However, not all snapshots can
be easily represented as a file. Probably a more generic interface will be needed to address
also other needs.

https://github.com/datafuselabs/openraft/blob/46644c8409c7dff627c991cc65849507ad5265b3/openraft/src/storage.rs#L147-L159

[2022-02-25 08:04] drmingdrmer opened #210 "Make `last_applied_state()` into sync"
Make `last_applied_state()` into sync, provided all state machines will use atomic read or the like.

`sync` method is fast to run. And most of the time it is not hard for an application to maintain an in-memory variable to serve this method.

https://github.com/datafuselabs/openraft/blob/46644c8409c7dff627c991cc65849507ad5265b3/openraft/src/storage.rs#L303-L308

[2022-02-25 08:20] drmingdrmer commented on #182
My fault.
I should not have created this issue:(

[2022-02-25 08:59] schreter commented on #208
Just yesterday, we discussed it with the colleagues what this means in detail (also for the snapshot, that's similar).

In fact, we need a two-stage process: first, the state machine update or snapshot is triggered on the `&mut self` to prepare the operation. This may even complete the operation fully, but on the other hand, it may need to (sometimes) synchronize, so it still needs to be async. As

[2022-02-25 11:19] drmingdrmer commented on #169
@schreter
The `rpc` is a field of the following `enum`. Does It have to have another generic type argument if we use the trait `IntoIterator<T>` to describe the type of `rpc`?
[code]

If it is possible to use some generic type, why not just use `impl Iterator<T>`?

:DD

[2022-02-25 12:29] drmingdrmer commented on #208
So this is what you expected the API to be, right?

[code]

If it is, what about making the return value just a Future?
- An implementation could just return a Future that is already ready for `poll()` if the **apply** can be done at once.
- And it could also return a Future in which the **apply** will actually be done.

With GAT, will it be as efficient as returning an immediate result?

[2022-02-25 13:47] drmingdrmer commented on #207
I do not quite get it.
Can you give some more information about what the **burden** is?
Does a derived implementation of `Serialize` bring more work for a developer who does not need it?

[2022-02-25 13:49] drmingdrmer commented on #206
I just changed this post a bit to make it easy to read:D

[2022-02-25 14:23] drmingdrmer commented on #206
Great Idea!!!
In short, replace tokio runtime with a customized one, right?

One of the timeout values is generated randomly:
https://github.com/datafuselabs/openraft/blob/46644c8409c7dff627c991cc65849507ad5265b3/openraft/src/core/mod.rs#L425-L435
I guess in the design with the **Runtime for test**, this has to be replaced with a method of the runtime, right?
Such as `runtiiie.rand_sleep(Duration:

[2022-02-25 14:59] schreter commented on #169
You are right, it is not optimal to do it now. After the refactoring of the generics to a single config type it will be much easier.

[2022-02-25 15:03] schreter commented on #208
Yes, something like that. Simple `Future` won't work, since the `Future` which needs to be deferred to a background task must be `'static`. Further, the implementation may need to await something. Concretely, we have exactly this situation in our code: the modification preparation needs write access (via `&mut self`), but also needs to `await` allocation of resources (which is typically immediate,

[2022-02-25 15:07] schreter commented on #207
Yes. I cannot simply use `#[derive(Serialize)]` on the type, since it's fairly complex. Of course, it's possible to derive it manually, but what should it do? Probably just call `unimplemented!()`, since it's not possible to implement it properly with reasonable effort (data messages that we are persisting and communicating are rather complex, encoded via capnp IDL).

So that's why I think it woul

[2022-02-25 15:11] schreter commented on #206
Yes. There are just a couple primitives that are needed in the implementation. Implementing them trivially for test purposes will allow to make tests deterministic.

I know. Yes, that one can be also abstracted through the runtime and made deterministic for tests.

Hehe :-). I'm not a GitHub expert, so whatever fits the best.
Surely there is a guide how to make such nice links there, but I didn't

[2022-02-25 15:35] drmingdrmer commented on #207
Oh, I see! You mean the trait `AppData` that forces you to implement `Serialize`.
I thought you were talking about the concrete types that already implement `Serialize`.

[2022-02-25 15:44] drmingdrmer commented on #208
Is it all right to return a **ready** Future if it can execute the request immediately?
This would make the API simpler. Unless in this way it affects the performance.

[2022-02-25 15:49] drmingdrmer commented on #206
I did not read the doc, but one day I found github turns `- blabla #<issue_number>` into a link with the text of the issue title, which is handy to use.:DDD

[2022-02-25 16:00] schreter commented on #208
That's true, but not sufficient.

The problem is as follows:
- The internal implementation needs to run alone on the state machine until all resources are acquired. This is *typically* immediately, but it is `async`. This is the future returned from the `apply_to_state_machine()` call. Due to the technical constraint, this future is not `'static`, but rather bound to `'_` of the caller.
- After ac

[2022-02-25 16:02] schreter commented on #207
Yes :-).

Well, those have to be partially updated as well, since they of course require that `AppData` implements `Serialize`.

As I wrote, this has currently low prio. I see the prio primarily in the perfect API for binding the state machine, log and runtime :-).

[2022-02-25 18:36] schreter commented on #204
Unfortunately, we can't reduce it to one type, but at least the two request/response types are now subsumed in `RaftConfig` and we can add further types on `RaftConfig`.

[2022-02-27 17:19] drmingdrmer opened #215 "Consider remove `ReplicationCore.last_log_id`"
Panic: `thread 'tokio-runtime-worker' panicked at 'assertion failed: end >= prev_index.next_index()', /Users/ppamorim/.cargo/git/checkouts/openraft-0677bbb78cc57964/2055a23/openraft/src/replication/mod.rs:312:13
`

https://github.com/datafuselabs/openraft/blob/10dd6a1303727e957be72735ecc4b9223d36eb5e/openraft/src/replication/mod.rs#L325-L350

There might be a consistency issue that will cause this

[2022-02-27 22:16] schreter commented on #204
@drmingdrmer BTW, I'm working on the `NodeId` as a parameter, so we can use GUID `NodeId`s. Almost done, I'll post the change tomorrow, after some cleanups. It's quite big, since the config has to be propagated through quite a few structures.

I just noticed, there is no separate issue for it, so I'll refer to this one.

Afterwards, the `Runtime` configuration can be started, so we can provide a d

[2022-02-28 02:12] drmingdrmer opened #216 "Assertion failure caused by stale value of `self.last_log_id`"
[code]

First reported in https://github.com/T-Pro/t-pro-cognito/issues/24

[2022-02-28 04:15] drmingdrmer opened #217 "`NodeId` as a parameter, to enable using GUID or other type for NodeId"
@drmingdrmer BTW, I'm working on the `NodeId` as a parameter, so we can use GUID `NodeId`s. Almost done, I'll post the change tomorrow, after some cleanups. It's quite big, since the config has to be propagated through quite a few structures.

I just noticed, there is no separate issue for it, so I'll refer to this one.

Afterwards, the `Runtime` configuration can be started, so we can provide a d

[2022-02-28 04:47] drmingdrmer commented on #204
Issue created!

😆 😆 😆

[2022-02-28 04:51] #216 closed

[2022-02-28 05:57] lichuang commented on #204
@schreter Since you commit to github use your enterprise email(sap.com), which has no related github user, so in the contributors list(https://github.com/datafuselabs/openraft/graphs/contributors) we can not find your name, what is a pity,

Maybe you can change to a email which has a related github user, so all the `openraft` user can see your commit from the contributors list?

[2022-02-28 07:54] schreter commented on #204
@lichuang It didn't occur to me that this is a problem :-). There should be some possibility to link GitHub Enterprise and GitHub accounts, which was requested by my colleagues. If I understand it correctly, that should effectively solve the problem, because then the commits from the SAP address would be linked. Anyway, for now, I'm adding my work mail as a secondary e-mail to GitHub right now, so

[2022-03-01 03:41] drmingdrmer commented on #204
It works :DDD

https://github.com/datafuselabs/openraft/graphs/contributors

![image](https://user-images.githubusercontent.com/44069/156100549-fc463a21-2ae1-4c23-a6e2-624d05e0be23.png)

[2022-03-01 05:01] #195 closed

[2022-03-01 09:36] drmingdrmer opened #222 "Simplify trait bound used in LogId and Membership"
Sure, no problem with that. I think we won't need other types in LeaderId/LogId/etc. in the future anyway.

Probably the same can be done for `MembershipConfig`, though not 100% sure, since it might be interesting to parameterize the BTreeSet out (linear search on 3-5 node IDs is typically faster than trying anything more fancy, but this is likely not on hot path).

_Originally posted by @schreter

[2022-03-02 05:30] drmingdrmer opened #225 "Membership does not need learners any more."
Because `nodes` is a complete list of all members and learners, we can just change type of `nodes` to `BTreeMap<NodeId, Option<Node>>`.

This way learners are: `self.nodes.difference(self.all_members()`

[code]

[2022-03-02 08:07] drmingdrmer opened #228 "Race condition with cloned `RaftMetrics`"
- `leader_metrics` was made an `Arc` in #189
- And a default clone is derived, i.e., the `leader_metrics` is only cloned by reference.

https://github.com/datafuselabs/openraft/blob/c11b0219114ca1bb81dc3daea92a1ec220893354/openraft/src/metrics.rs#L33-L57

There are two issues with this:

- A cloned `RaftMetrics` instance can be modified: because `ReplicationMetrics.matched_index`  is `AtomicU64`.

[2022-03-02 09:50] drmingdrmer commented on #228
You are right.

Some old codes still rely on the assumption that the cloned `metrics` won't change. They need to be updated. :DD

[2022-03-02 09:53] drmingdrmer opened #229 "Split RaftMetrics into multiple sub metrics"
Anyway, it would be desirable to split it to multiple independent metrics, possibly opting out of some completely, since the metrics is communicated way too often and it is very expensive.

Mostly, the user will be only interested in leader <-> follower transitions and the like (i.e., very infrequent events), not in each request processed.

- Membership metrics: about leader,follower etc.
- replic

[2022-03-02 09:53] drmingdrmer commented on #229
Implementation detail need to be provided.

[2022-03-02 10:04] drmingdrmer opened #230 "Using a change counter to indicate metrics change."
Hm, I suppose some change counter would solve it, updating it upon the need to retransmit. This would also make the change detection cheaper, since just a counter must be compared.

Comparing the entire RaftMetrics struct is too expensive.

A combination of change-counter and a reference to a struct may be good enough.

The notification will still be done with a `watch`.

_Originally posted by @sc

[2022-03-02 10:15] schreter commented on #229
Yes, the three metrics make sense.

Regarding publishing them, we can make it dependent on whether there is a subscriber or not. As soon as the first subscriber is attached to a particular metrics, i.e., requests the channel receiver, then the appropriate broadcast channel would be materialized and stored in `Option<Arc<SomeChannel::Publisher>>` in the Raft core and filled with the current metrics

[2022-03-02 13:13] PsiACE commented on #207
/assignme

[2022-03-02 13:58] lichuang opened #231 "ReplicationCore Does not sync new commit index to Follower\Learner in some case"
Sometimes the unit test `t60_large_heartbeat.rs` may fail, the assert is:

[code]

after check the log, this fail may happen in this way, see the last log of `send_append_entries`:

[code]

as you can see, the `commit_index` is `101`, but the last append entry index is `102`. After sync the `102` entry, even if `commit_index` has updated to `102`, the leader will not sync the new commit index to t

[2022-03-04 01:55] lichuang commented on #231
https://github.com/datafuselabs/openraft/pull/223

[2022-03-04 01:55] #231 closed

[2022-03-04 01:56] lichuang commented on #215
https://github.com/datafuselabs/openraft/pull/223

[2022-03-04 01:56] #215 closed

[2022-03-04 08:42] schreter opened #234 "Add `Raft::sm_request()` and `Raft::net_request()` to insert arbitrary processing into the Raft loop"
Since the state machine and network factory is accessed serialized in Raft, it makes sense to also send arbitrary user-specific requests to them, which will execute serialized in the Raft loop.

A fire-and-forget `sm_request(req: impl FnOnce(&mut S) + Send)` and `net_request(req: impl FnOnce(&mut N) + Send)` can be added to facilitate this. Intentionally, these should be fire-and-forget. If waitin

[2022-03-04 08:58] schreter commented on #205
I grepped the `tokio` usage in openraft. Here the traits and packages used that need to be possibly abstracted:

[code]

Likely the `Async*` trait won't need an abstraction. The rest should be pretty straightforward to abstract for the test runtime with simulated time.

[2022-03-04 09:30] #228 closed

[2022-03-04 09:30] #230 closed

[2022-03-04 09:40] drmingdrmer commented on #205
The list can be reduced:
- `tokio::Runtime` seems to be only used in tests.
- `tokio::time::Duration` and other time-related types are just re-export.
- `tokio::sync::Mutex` can be just replaced with `std::sync::Mutex`. They do not live across any `await`.

Maybe I should get rid of some tokio dependency while you are building up the runtime:)

[2022-03-04 10:01] drmingdrmer commented on #234
Interesting feature:D

I am not sure about the exact scenario. But it may be very likely changing IP address is not safe for a consensus protocol such as raft.

You have to carefully deal with a half-committed changing-IP transaction in the cluster.

Removing a node and then adding a new node with a different IP address is the safe way to update cluster config in raft.

[2022-03-04 12:04] schreter commented on #234
Sure, that was probably not the best example (though we do have it - our state machine is rather big, so sending a snapshot over the wire each time a node would change its DHCP IP is a no go).

The primary reason for this is the state machine request. We have a local resource reservation step (basically higher-level constraint checking) on the state machine to prevent wasting cycles and network ba

[2022-03-04 17:56] fredfortier opened #235 "Snapshot Segment Mismatch"
I'm aware that this is likely an implementation issue on my part, but do you have any hint on what could explain an error like this when installing a snapshot.
[code]
I haven't reproduced this consistently yet, but I'm working on it. I've this error with earlier versions of async_raft. I know it happens with large snapshots but I don't know yet whether there's a threshold. Any pointers would be ap

[2022-03-05 00:41] fredfortier commented on #209
I'd like to understand this a bit better. I could perhaps submit a PR to suggesting an implementation. My snapshots are actually large and not stored as files. The interface works afaik, but I do experience issues like #235 that may be related to these snapshot assumptions.

[2022-03-05 04:15] drmingdrmer commented on #235
It looks like there is a retransmit of a snapshot segment.

The follower/learner has finished installing a snapshot and has cleaned up the session by setting `RaftCore.snapshot_state` to `None`.

But the leader did not wait long enough for the follower/learner to respond.
Then the leader retransmitted a segment.

To confirm that, you need to check the debug level log to see if there are a retransm

[2022-03-05 08:24] drmingdrmer commented on #209
The API forces user to implement a snapshot in a byte-stream way.
IMHO, a snapshot would be better to be a stream of a user-defined data type.

And incremental snapshot replication may be useful.

[2022-03-05 11:04] schreter commented on #209
@fredfortier We also have a relatively complex snapshot that is not file based. Basically, it is a set of pages to transfer with some meta information regarding page location (since the pages may cross-reference themselves). This needs to be materialized at the remote side.

Although it is surely possible to access such a snapshot using a byte stream, it's quite complex to provide a reliable worki

[2022-03-05 20:44] schreter commented on #217
This is addressed by #204 so I'm closing this issue now. `NodeId` can now be set to any type which implements the requested traits.

[2022-03-05 20:44] #217 closed

[2022-03-05 20:45] schreter commented on #204
Type configuration is now implemented, so this issue can be closed.

There is a follow-up in #222

[2022-03-05 20:45] #204 closed

[2022-03-06 02:01] drmingdrmer commented on #204
Love your new avatar:D

[2022-03-06 09:08] drmingdrmer commented on #234
I see.
In your project, is possible to store IP in Membership?

https://github.com/datafuselabs/openraft/pull/184/files#diff-42659534f9b116c1f6ebbd5b94e09666a14f5e6148b5e692f2acfd1454175b81R67

Membership will be safely replicated to every node.

Although there is no way for now to change the IP address of a node. But it's easy to implement.

[2022-03-06 11:10] schreter commented on #234
I don't know yet. We are in the POC phase where we have to demonstrate performance, primarily, the operations will be in the next phase. So it's still open. What we *do* know that node IDs will be either GUIDs (with additional independent mapping layer - therefore the possibility to update the IP in the network via push to reconnect to a different IP address) or directly IPv6 addresses of the resp

[2022-03-06 11:10] schreter commented on #234
Since the change implementing the external request is now merged, I'll close this issue.

[2022-03-06 11:10] #234 closed

[2022-03-06 11:55] drmingdrmer commented on #234
Fine. Let me know if I can help then.:)

Interesting. I did not know QUIC has such a feature.

[2022-03-06 22:24] zicklag opened #240 "Suitable for Geo-Replicated Clusters?"

[2022-03-06 22:46] zicklag opened #241 "Support For Stable Rust"
Is it possible for openraft to support building on stable Rust? It looks like the only nightly feature required is `backtrace`, but I'm not sure if there are dependencies that need nightly, too.

**Edit:** I just realized that it isn't `openraft` that needs the nightly feature so far, it's `anyerror`. Either way is there any interest in supporting stable Rust?

[2022-03-06 22:53] schreter commented on #234
Yep. See for instance the IEFT draft here: https://tools.ietf.org/id/draft-tan-quic-connection-migration-00.html

[2022-03-06 22:59] schreter commented on #240
@zicklag I'm contributing stuff to the openraft repo, since we want to use it in our project as well (and want to have it rock-solid and fast). There, it will be also used in geo-replicated settings, but only in a later phase of the project. So at the latest then, we'll have to invest to build any required features, if not there by then 🙂. But, don't hold your breath, that's at least one year away

[2022-03-06 23:05] zicklag commented on #240
Thanks for the reply @schreter. As long as the possibility for geo-replication isn't totally closed for the future I should be fine.

My project is still ultra-experimental and everything is in flux so it's fine if geo-replication isn't available immediately.

[2022-03-07 10:04] schreter commented on #241
@zicklag We are building in general with stable Rust + a few features (GATs mainly).

To work around the limitation, set environment variable `RUSTC_BOOTSTRAP="1"` in your `.cargo/config.toml`. This will enable using features in stable Rust.

Yes, it's a workaround, but it allows us to intentionally enable a few close-to-production features for our code (and a few of them were already completed du

[2022-03-07 10:05] schreter commented on #241
I meant in our project *using* openraft, not the openraft itself.

[2022-03-07 12:29] drmingdrmer commented on #240
A failure detector such as [Phi Accrual Failure Detector](https://www.computer.org/csdl/proceedings-article/srds/2004/22390066/12OmNvT2phv) should not be hard to integrate into a consensus protocol.
I'll dig a bit deeper into it to figure it out.

BTW, to me, geo-replication is quite a big topic. `:-O`.

It's about how to commit command in one RTT(the traditional 2 RTT protocol, e.g., client-leade

[2022-03-07 12:58] schreter commented on #240
That's why we are not going for it in the first shot :-).

Anyway, that's also why we chose the QUIC protocol (it's UDP-based, better suited to be configured differently for local and remote settings).

In fact, I wanted to look at the `Network` APIs later, since currently Raft simply stupidly re-sends all the log which was not applied at the remote side after a timeout. But, in fact, timeout is n

[2022-03-07 15:16] drmingdrmer commented on #240
Agree.
The replication timeout error should be removed. A leader should always keep sending logs until an explicit network error occurs or the leadership is taken by another node.

[2022-03-08 01:36] zicklag commented on #240
From the README it sounds like improving upon raft is part of the motivation for the library, so it sounds like it's within the vision of the project. :)

Fair enough. I'm not 100% savvy to distributed system implementation yet so I wasn't sure if raft was stable enough with higher latencies, but it sounds like there's some work to make it feasible.

That's actually the direction I'm leaning towar

[2022-03-08 01:38] zicklag commented on #241
Oh, interesting workaround. I'll keep that in mind. Thanks!

[2022-03-08 01:55] #225 closed

[2022-03-08 02:45] drmingdrmer commented on #240
AFAIK, the original raft with **pre-vote** is stable with high latency.
Since raft always guarantees data safety, here `stable` means the leader won't change frequently due to the unstable latency.

Without **pre-vote**,  raft leader stickiness won't be guaranteed.

`openraft` is trying to solve the leader stickiness problem in another way.
Thus meanwhile it is **not** stable with high latency.

T

[2022-03-09 06:55] drmingdrmer opened #245 "Change: RaftStorage: rename: save_vote() to save_ballot()"

[2022-03-09 08:23] schreter commented on #245
Why? "Vote" sounds better...

[2022-03-09 15:41] drmingdrmer commented on #245
Hmm... to me, **vote** somehow means the voting procedure, between candidates. A ballot is a decision a candidate made about who it voted for.

From Wikipedia https://en.wikipedia.org/wiki/Ballot

And ballot in Paxos is almost equivalent to the tuple of `(term, candidate_node_id)` in raft, and in `openraft`,  the `Vote`:
[code]

English is not my native language. If `vote` is good enough for you,

[2022-03-09 16:18] schreter commented on #245
Yes. Leslie Lamport talks in his Paxos paper (https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf) about "ballots".

However, Diego Ongaro talks in his Raft paper (https://raft.github.io/raft.pdf) about "votes".

Neither is it mine :-). It's the fourth I learned and probably the third best I can speak (but, professionally, probably the best).

It is good enough, I think.

Although I agree wit

[2022-03-10 03:15] drmingdrmer commented on #245
Good. Majority wins.XDDD

[2022-03-10 03:15] #245 closed

[2022-03-10 12:44] drmingdrmer commented on #240
After digging into [lol](https://github.com/akiradeveloper/lol) raft, I found that the failure detector is only used to determine when to start the election.

In openraft, it's done with a timer:
https://github.com/datafuselabs/openraft/blob/70689b76c92b5f9cab8ac179eda49953241311d0/openraft/src/core/mod.rs#L1074-L1090

In `lol` it periodically(`100ms`) calculates the failure rank `φ` by the time(`

[2022-03-11 07:38] lichuang opened #246 "add API for add/remove nodes"
For now, the raft API only support `change_membership` to add/remove nodes, but this API is a full-volume operation, the caller MUST have the full view of the current membership, then setup a new cluster config base on it.

Sometimes, the caller just want to simply add/remove some nodes from cluster, so how about add API for add/remove nodes for these operations?

[2022-03-12 07:00] drmingdrmer opened #249 "Get rid of dependency of tokio if possible"
- `tokio::Runtime` seems to be only used in tests.
- `tokio::time::Duration` and other time-related types are just re-export.
- `tokio::sync::Mutex` can be just replaced with `std::sync::Mutex`. They do not live across any `await`.

Get rid of some tokio dependency to make it clear for building a runtime simulator.

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/openraft/iss

[2022-03-12 12:40] #241 closed

[2022-03-13 14:56] #147 closed

[2022-03-19 13:57] drmingdrmer opened #252 "Eliminate Candidate state"
- Leader is a state in which a node has a **committed** vote for itself.
- Follower is a state in which a node has a **committed** vote for another node.
- Candidate is a state in which a node has a **non-committed** vote for itself.

To reduce cluster downtime that is caused by entering the Candidate state, the Candidate state should be merged with Leader State.
This way a leader in lower term do

[2022-03-19 14:31] drmingdrmer opened #253 "Stable leader"
In the original raft, a leader will revert to a follower if a higher term is seen, e.g. when another node starts electing.

A patch to this unstable leadership is to send a **prev-vote** request to a quorum before **vote**.
This makes things complicated.

We are gonna adopt another solution:

- [ ] #151
- [ ] #167
- [ ] #252

[2022-03-21 02:57] #246 closed

[2022-04-01 16:28] drmingdrmer opened #259 "Remove role `Learner`, use `Follower` instead."
A `learner` has nothing different from a `follower`, except that a `learner` does not need to wake up to elect if it timed out receiving the heartbeat from the leader.

The event loop for learner and follower can be merged.

For applications that use openraft, after this change,
- a `Learner` becomes a `Follower` that is not a `member`. I.e., a follower not in `RaftCore.effective_membership.alll_m

[2022-04-01 16:40] schreter commented on #259
Yes :-)

[2022-04-01 16:43] MrCroxx commented on #259
If a learner can be promoted to be a follower, how to tell the defference from the view of the leader🤔.

[2022-04-01 16:45] MrCroxx commented on #259
And with joint consensus, learner should be treated differently, like etcd does like introduce 'next learner'.

[2022-04-01 18:15] drmingdrmer commented on #259
@MrCroxx

If the node id of the **learner** is in `RaftCore.effective_membership.all_members()`, it is a **follower**(in etcd terminology) which can become a candidate. Otherwise, it is a **learner**(in etcd terminology).

When a **member**(nodes that can elect) is removed from the `all_members()`, there is an option(`turn_to_learner`) to specify what to do about it: to remove it or convert it to

[2022-04-02 02:06] MrCroxx commented on #259
Looks so cool!

[2022-04-02 03:41] lichuang commented on #259
make sense:)

[2022-04-02 04:08] drmingdrmer opened #260 "Merge LearnerState into FollowerState."

[2022-04-04 08:14] MrCroxx opened #262 "Feature request: optimization for read-only requests"
In Raft thesis 6.4, it proposed a way to optimize read-only requests with *read index*, which *etcd/raft* and *tikv/raft-rs* have already supported (and they further support read-only optimization that is called **lease read**).

The basic procedure to handle *read index* with openraft can be:
1. Client sends a read-only request to the leader or a follower.
2. (optional) If a follower receives a r

[2022-04-04 08:17] MrCroxx commented on #262
I'd like to contribute to the optimization. But I'm busy with my master degree project, my thesis, and my internship job.

If time is not a big issue, I'd like to pick the challenge.

[2022-04-04 08:41] drmingdrmer commented on #262
Currently, the extensible and decoupled overall structure of the framework has the highest priority, to make some performance-related refactoring possible, which is suggested by @schreter .

Everything that is well defined in the Raft thesis has a relatively low priority
because there won't be surprises in implementing it.

Unless somebody needs it. :)

[2022-04-04 12:54] schreter commented on #262
Well, I was planning to suggest implementing lease read myself :-). This indeed can speed up the reads considerably. OTOH if I understand it correctly, there is the additional cost in the takeover path, where lease time must be awaited. Picking too short lease time leads to frequent reassertions, picking too long lease time then to delayed election.

For our project, we'll likely use an independen

[2022-04-04 13:59] drmingdrmer commented on #262
Agree.

Raft defines its own **time** with `term` and `log index`.
Although people try hard to synchronize this **raft-defined-time** with the wall-clock time,
the best way is to forget the wall-clock time.

[2022-04-04 14:14] schreter commented on #262
Hehe, I didn't intend to make a pun on "time" :-). The "transaction time" we use is a kind of MVCC, so as long as the follower replica knows that certain time point from the sequencer was replicated, any requests with older "transaction time" than this time point can be answered directly. But again, that's relevant for our specific use case, it's not a general solution.

+1. We also don't use wall

[2022-04-04 17:26] drmingdrmer commented on #262
Maybe the election timeout can be replaced with some external event source that triggers re-election.
E.g., let a user install a metrics watcher, to monitor the leader messages received by a raft node.
And its duty is to tell the raft node to elect if the watcher does not receive a leader message in 10 seconds.

This way the raft core becomes purely event-driven.

[2022-04-04 20:50] schreter commented on #262
That's indeed a good idea and it would help in our project too (we have a "liveness" indication between a pair of nodes, which can be used for any communication between this pair of nodes in multiple consensus domains which happen to have replicas on this pair). It would also help removing the non-determinism from tests.

But, it will require fairly large refactoring of various tests, I suppose.

[2022-04-11 15:13] MrCroxx opened #282 "Discontinuous log indices in test suite last_membership_in_log"
In `last_membership_in_log` test of the test suite, the log indices appended to the log are discontinuous (1, 3, 4). This may cause log gap and lead some raft log storage implements panic (e.g. the impl of my master project assert if there is a gap in raft log store).

I'd like to send a small PR to fix it.

https://github.com/datafuselabs/openraft/blob/b50679dcc6eba4e44a7e2106a1919f350676eff4/ope

[2022-04-11 15:37] MrCroxx commented on #282
I get the purpose, these cases represents "log > applied, read from log". But still, I think it's better to append continuous log indices. 🤔

[2022-04-11 17:48] drmingdrmer commented on #282
Hi @MrCroxx

It's a mistake in the `last_membership_in_log` case. Thank you!
But I am not quite sure about the other **issues** you mentioned. They are possibly mistakes too :(.

The assertion about log entries have to have continuous indexes are protected by a `defensive` layer. This optional to an application. See: https://github.com/datafuselabs/openraft/blob/b50679dcc6eba4e44a7e2106a1919f35067

[2022-04-12 01:19] MrCroxx commented on #282
In some casess, it needs the indices of appended logs are larger than applied index. Would filling gaps with blank entries be fine to fix?🤔

I'd like to do a cross-validation with my project for the rest.

[2022-04-12 04:48] drmingdrmer commented on #282
That sounds good:D

[2022-04-13 08:36] drmingdrmer opened #284 "transisent-commit"
Yes.

`persisted log index <= applied log index`?
Does this always hold or there is a chance that `persisted log index > applied log index`?
If a log is persisted by a quorum, then it can be applied by a follower which has not yet persisted it, and this is indeed a neat optimization. :DDD

Neat and interesting:D

Valuable experiences and they helps a lot:D

AFAIK, to have the following conditions

[2022-04-13 08:37] drmingdrmer commented on #284
@schreter Let's talk about it here:)

[2022-04-13 22:52] djahandarie opened #285 "What surrounding infrastructure is required for a high availability openraft project?"
I'm currently trying to use openraft in a new project, and am building up the surrounding logic:

1. A client aware of all the openraft nodes, which can try cycle through nodes in the case of openraft errors, leader switches, network errors, etc.
2. A watchdog for openraft nodes that can restart them when they have fatal errored for some reason (like a StorageIOError).

Is there any other things t

[2022-04-14 03:09] lichuang commented on #262
In etcd raft implementation, the time event if trigger by user, as a `tick()` call in interface, and heart time and election time is defined as tick unit, which is not a wall-clock time. see:

[code]

etcd raft time event such as election\heartbeat is a full trigger by user.may be we optimize openraft in this way, let me think about it.

[2022-04-14 04:07] lichuang commented on #262
emm, after i read the source, i think refactor the time-trigger policy like etcd way may be difficult in openraft.

in etcd, raft core and application communicate with `msg` array: send msg\commited msg,etc, the the application level can send the msg in there way, which decouple the network from raft core, so etcd can be trigger by tick from application.

But in openraft, it has the RaftNetWork in

[2022-04-14 04:13] drmingdrmer commented on #285
Normally if `StorageError` occur, restarting a node won't help at all.
`StorageError` means the raft protocol prerequisite that disk is stable, does not hold anymore.
Then data consistency can not guaranteed.

In such a case, one need to find another server and rebuild the damaged node
with change-membership request.

As far as I know, only storage error should be considered.

`openraft` shut itse

[2022-04-14 04:59] MrCroxx commented on #282
Close via #283 .

[2022-04-14 04:59] #282 closed

[2022-04-14 06:16] drmingdrmer commented on #262
I'm trying to extract the algorithm part out of raft core.
And left everything else, such as RaftStorage, RaftNetwork, the timer, and message channels to a `runtime`.
And let the timer a customizable component.

[2022-04-14 07:14] drmingdrmer opened #286 "rename State to ServerState"
The terminology `State` is used too much!

https://github.com/datafuselabs/openraft/blob/51817b42bb2ccd2e421a35bed8d353e7c4a7eb7d/openraft/src/core/mod.rs#L753-L764

[2022-04-14 14:23] djahandarie commented on #285
Ah, I think I may be misusing the type in my code then.

My code does something a little unusual, which is to spawn another process to use essentially as the state machine. The spawned process is pure and can generate/load from a snapshot, so it works out pretty well, but I need to account for the fact the process itself could disappear for any reason (OOM killed or killed by something else).

In

[2022-04-14 19:47] djahandarie commented on #285
Hmm, the issue is that *just* rebooting the child process isn't enough -- I need to replay my log (or load from a snapshot) in order to get the child process into the right state. I'm not sure what I'd need to do in `apply_to_state_machine()` to make that happen? Manually reading the snapshot or the log in there seems like I'd be reimplementing a bunch of openraft-layer logic. Also I think that I

[2022-04-14 20:11] schreter commented on #285
@djahandarie Not sure if it works out of the box, but wouldn't dropping the `Raft` and subsequently recreating do just that? It should cancel any tasks and drop any in-memory structures without doing proper shutdown, so that it would appear like the node died and restarted. And, of course, your snapshot would be reinstantiated and log applied.

[2022-04-15 03:17] drmingdrmer commented on #285
Yes, as @schreter said if the restart of the subprocess will get a non-persisted state lost, restarting the entire raft node would be a solution.

`apply_to_state_machine(entries)` should apply and **persist** the input `entries`.
It should not do anything about other entries.

If the state-machine process crashes, `apply_to_state_machien()` could just `panic!()`, since you have a watchdog:).

[2022-04-16 08:29] drmingdrmer opened #291 "Tracking issue: Runtime + Engine"
##### Engine impl raft, Runtime execute commands

`Engine` implements raft algorithm and stores a `state` in it which
contains just enough information to run raft.
It does not contain any application-related data, such as `AppData` or
`AppDataResponse`.

`Engine` receives events, deals with them, then output several
`Command` that a `Runtime` executes them to update the application
state, such as

[2022-04-16 08:29] drmingdrmer opened #292 "Impl `initialize()` for engine"

[2022-04-16 08:29] drmingdrmer opened #293 "Impl candidate loop for engine"
Add `elect()` and `handle_vote_resp()` to `Engine` to trigger election and update vote progress.

The `candidate_state.rs` need to be rewritten in a runtime-engine manner.

[2022-04-17 02:44] #286 closed

[2022-04-17 03:09] drmingdrmer commented on #292
Mission complete.

Initializing now is fully delegated to Engine:

[code]

[2022-04-17 03:09] #292 closed

[2022-04-18 09:20] lichuang opened #299 "split core/mod.rs to sub modules"
core/mod.rs is too big to contain too must definition and implementation, as a `mod.rs`, it should only include `pub mod` and `us e` declaration.

- [ ] split  EffectiveMembership into effective_membership.rs
- [ ] split RaftCore into raft_core.rs
- [ ] split LeaderState info leader_state.rs
- [ ] split ReplicationState into replication_state.rs
- [ ] split CandidateState info candidate_state.rs
-

[2022-04-19 07:28] lichuang commented on #299
https://github.com/datafuselabs/openraft/pull/303

https://github.com/datafuselabs/openraft/pull/302

[2022-04-19 07:28] #299 closed

[2022-04-20 00:13] semirix opened #304 "Deprecate `RaftMetrics` watch channel for event logging through `RaftReporter` trait"
This is an update on an old suggestion outlined [here](https://github.com/async-raft/async-raft/issues/131).

The current problem is that `RaftMetrics` is being served through a `tokio::sync::watch` channel. This is not ideal because some essential raft events will be missed. Additionally, it is not possible to discern what event has actually occurred without comparing every single value in the `R

[2022-04-20 05:00] drmingdrmer commented on #304
A `Reporter` makes sense. Internally openraft is also driven by events.
It's just a way to export them out.

In the new draft design, there are already some events(`Command`) defined:
https://github.com/datafuselabs/openraft/blob/5fb62f435c8c4d7f73d29f980b80745121a4b00e/openraft/src/engine/engine.rs#L54-L74

What I am not very sure about is, with this snippet, how do you expect a user to register

[2022-04-20 05:21] semirix commented on #304
Ah, I see I have missed an important part of the implementation. The idea is that this would be added to the top level `Raft` type like so:

[code]

I'm not too familiar with the internals of openraft but I imagine this object would be available to all pieces that need to report events.

[2022-04-20 07:30] drmingdrmer commented on #304
Looks feasible. :DD

Any suggestions?
@lichuang @ariesdevil @schreter

[2022-04-21 02:06] lichuang commented on #304
make sense:)

split metrics report into enum will make the granularity more precise.

[2022-04-22 14:03] drmingdrmer opened #306 "Remove `RaftStorage::get_initial_state()`. It actually does not need an application to implement it."
And make `RaftState` a non-public struct.

https://github.com/datafuselabs/openraft/blob/5fb62f435c8c4d7f73d29f980b80745121a4b00e/openraft/src/storage.rs#L230-L260

[2022-04-25 12:27] #293 closed

[2022-04-25 15:48] drmingdrmer opened #314 "Handle vote request by Engine."

[2022-04-25 21:52] djahandarie commented on #285
Thanks for the thoughts. While `panic!()`ing in `apply_to_state_machine()` alone didn't quite work (it just caused some intermediate thread to die), I set up a channel to my main thread that allows me to send a shutdown message if I've decided something has gone wrong and the process should be shutdown, and that seems to work well.

[2022-04-25 21:52] #285 closed

[2022-04-25 21:56] djahandarie opened #316 "rkyv support"
I'm trying to use openraft with 20k+ messages per second, and I seem to be running into quite a bit of overhead simply allocating/copying/serializing stuff. I'm currently using bincode, but would like to switch to rkyv as I believe it will do better.

Unfortunately rkyv doesn't work with serde Serialize/Deserialize (due to fundamental differences around supporting zero-copy), and thus  there would

[2022-04-26 02:53] drmingdrmer commented on #285
Oh sorry! That's my mistake :(

[2022-04-26 06:17] drmingdrmer commented on #316
There is an ongoing PR to make `serde` an optional feature:
- #243

What you need looks similar to this? An optional feature that enables several rkyv `derive`?

I do not have any experience on rkyv other than reading its API doc:)
A PR is welcomed! :DDD

[2022-04-26 08:32] MrCroxx opened #317 "Is there any benchmark for openraft?"
Hi. Thanks for your efforts to build the RAFT lib with async Rust.

Recently I'm using openraft with my master graduation project, [RunKV](https://github.com/MrCroxx/RunKV) and I found some performance issues with it. Although it's **HIGHLY** likely that the performance issue comes from my implementation, I still want to ask that, is there any benchmark or perf result for openraft?

Thanks a lot.

[2022-04-26 09:35] drmingdrmer commented on #317
There is not a formal benchmark yet.

A simple local benchmark without network involved can be found here:
https://github.com/datafuselabs/openraft/blob/21959ffce1a451b7888ffcfc9931402b58fe7d6f/openraft/tests/benchmark/bench_cluster.rs#L31-L38

With 1, 3 and 5 nodes:

[code]

[2022-04-26 09:36] drmingdrmer commented on #317
The above is single-thread client test.

[2022-04-26 09:42] MrCroxx commented on #317
Thanks for the information! I'll investigate the issue of my project. BTW, is there benchmark for databend meta service?

[2022-04-26 09:47] drmingdrmer commented on #317
I'd recall the statistic is about several thousand per second. Three nodes on a single server single threaded

[2022-04-26 09:54] #317 closed

[2022-04-30 10:15] drmingdrmer commented on #222
All tasks done

[2022-04-30 10:15] #222 closed

[2022-04-30 10:45] MikaelCall commented on #316
Adding rkyv support would be a nice addition indeed. It's a very efficient format wrt (de)serialization speed which can easily become a bottleneck.

IMHO the solution outlined in the comment https://github.com/datafuselabs/openraft/pull/243#pullrequestreview-901486343 in the currently open serde PR would be a very simple and good solution wrt maintainablity.

[2022-05-07 14:57] #314 closed

[2022-05-08 05:48] drmingdrmer opened #324 "Engine handles purge_log"

[2022-05-09 11:58] drmingdrmer opened #330 "Handle append entries request by Engine."

[2022-05-10 15:36] indietyp opened #333 "How to handle and remove unreachable nodes"
It seems that currently - should a node disconnect abruptly, and we did not remove the node explicitly beforehand - the leader "spins" forever, retrying the request repeatedly.

I tried sending returning both an `RPCError::Timeout` and `RPCError::Network` from my implementation, but it seems that there's no upper limit currently, and it just retries the request forever. This means that the leader

[2022-05-10 18:50] drmingdrmer commented on #333
Usually, a `change_membership()` request should be able to inform the cluster to forget a node, forever, if there is a `quorum` working, e.g. in a cluster of 5 nodes, there are 3 nodes online.

What's the cluster setup in your application?

And I do not quite get what `leader spins` means:)
But trying very hard to replicate logs to an unreachable node is the leader's duty:).

There is no limit abo

[2022-05-10 20:05] indietyp commented on #333
Thanks for the swift reply.

My current test setup was a cluster of 2 nodes, one node online.

What I mean with spin is:
[code]

It is repeated over and over again in my logs. Once I detect the missing member, I call `remove_members` with the member that is missing, resulting in the following record:

[code]

but the "spinning" described up to never stops; when I try to check if I am the current l

[2022-05-11 05:35] drmingdrmer commented on #333
Right, a cluster of 2 nodes requires every node to be online to work.
Usually a quorum means `floor(n/2)+1` online nodes.

The new configuration will take effect once it is written to the leader, but it will never be committed. Because `commit` requires the membership config log to be written to all these two ndoes.

The replication task just keeps running. This replication task will be dropped wh

[2022-05-11 06:11] indietyp commented on #333
Thanks for the info. Regarding consensus, if the quorum is `floor(n/2)+1` right now, doesn't that mean that 2 nodes specifically is an edge case that is non-recoverable?

I also tested the with 5 nodes, where a single node disconnects, leading to the same behavior. It will still try to end AppendEntries RPC to a target that no longer exists.

[code]

logs from the leader:

[code]

[2022-05-11 06:17] indietyp commented on #333
Here's a snippet from the leaders metrics, just to verify:

[code]

[2022-05-11 07:11] drmingdrmer commented on #333
Right. in a real-world application, a cluster is of 3 or 5 nodes. An even number of nodes are rare and only are used for some special purposes.

It seems `09b5b5f49ee14569b8490c63a98f5278` is still in the membership config.

There is a test that asserts replication will be stopped after a follower is removed.
If there are still unexpected behaviors, debug level logs will tell more about what happe

[2022-05-11 07:24] indietyp commented on #333
Mh, I only see `09b5b5f49ee14569b8490c63a98f5278` in the `replication` property, but not in anywhere in`EffectiveMembership`.

which from my understanding would mean that `09b5b5f49ee14569b8490c63a98f5278` is no longer an active member? or is there something that I am missing?

[2022-05-11 08:31] drmingdrmer commented on #333
Hmm... My mistake...

Can you turn on debug level log so that I can see what happened?

[2022-05-11 09:25] indietyp commented on #333
Sure, here's a snippet from the debug log.

[code]

[2022-05-11 11:46] drmingdrmer commented on #333
From this piece of logs, I did not see it kept sending append-entries to `f497f054-64cc-43da-9d12-77ff3c138def`. Maybe it is too short.

If the target node was removed correctly, you may find some debug logs contains string like:
`try_remove_replication`, or `removed replication to f497f054-64cc-43da-9d12-77ff3c138def`:

https://github.com/datafuselabs/openraft/blob/26eb737db483f57975eb38da500b660

[2022-05-12 05:50] drmingdrmer opened #334 "Snapshot meta: add `last_applied_membership`"
Raft actually has two slots of logs: the membership log and the application log.

In order to simplify the design and implementation, raft stores these two slots of logs in one slot.

A log snapshot, should contain the information about these two slots:
- last applied business log: `last_applied`,
- and last applied membership log: `last_applied_membership`, which is not included in `SnapshotMeta`

[2022-05-12 06:45] #334 closed

[2022-05-12 07:53] indietyp commented on #333
I have compiled a full log here: https://gist.github.com/indietyp/f899ef6b4e0ba10c4d4be987d6f12692 (it is quite log)

[2022-05-12 10:24] drmingdrmer commented on #333
I figured out what was going on. Thank you for helping me dig into this issue!

The leader will remove a replication only when the **second**(uniform) membership config log is replicated to the target node.

For an offline node the log can not be replicated thus it will never be removed:

Set the log id after which a replication stream is removed line 311:
https://github.com/datafuselabs/openraft/

[2022-05-12 13:30] indietyp commented on #333
Thanks for your time, and thanks for looking into this! :D

[2022-05-14 03:54] drmingdrmer opened #340 "and doc explain config"
and also the config need to update the doc.

_Originally posted by @lichuang in https://github.com/datafuselabs/openraft/issues/339#issuecomment-1126605838_

[2022-05-14 04:13] drmingdrmer commented on #340
Looks like the online doc is good enough

[2022-05-14 04:13] #340 closed

[2022-05-14 05:00] #333 closed

[2022-05-14 05:01] drmingdrmer commented on #333
@indietyp
The fix is merged to `main`. Can you confirm the problem is being fixed in your application?

[2022-05-14 15:05] indietyp commented on #333
I just tested the fix, and it works! Thanks

[2022-05-23 01:03] drmingdrmer opened #343 "trait definitions does not need to be have to be `Serialize` and `Deserialize`?"
LGTM

Another thought is trait definitions does not need to be have to be `Serialize` and `Deserialize`. Because openraft itself does not depend on `serde`. What do you think? 🤔

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/openraft/pull/342#pullrequestreview-980957690_

[2022-05-24 05:50] drmingdrmer commented on #207
- fixed in #342

[2022-05-24 05:51] #207 closed

[2022-06-03 07:08] drmingdrmer commented on #343
Seem it can not be done...

[2022-06-03 07:08] #343 closed

[2022-06-04 15:36] drmingdrmer opened #350 "Consider using `send_if_modified()` to update metrics"

[2022-06-04 17:47] drmingdrmer opened #351 "Merge follower_loop and learner_loop"

[2022-06-06 02:20] #351 closed

[2022-06-07 10:10] drmingdrmer opened #357 "Election should fail fast if a quorum have greater log"
When a candidate elects itself if it receives reject-because-of-greater-log responses from a quorum, it should stop waiting for further vote-response at once and revert to a follower.

Because in such a case, it can never become a leader.

[2022-06-14 17:41] schreter opened #373 "`Raft::shutdown()` seems not to work properly"
First, the experiment description:

I have a (simulated) Raft cluster for testing takeover. This Raft cluster consists of three nodes, where one of them is initially elected as leader. All (simulated) clients now hammer this leader.

After some time, the network connection to the leader is cut off (only in-cluster network, the connection from clients to the leader is still working), which causes a

[2022-06-15 05:48] drmingdrmer commented on #373
My hero!

A normal shutdown should also be considered an error and be tracked.

- `Raft.inner.core_error` should be able to store a normal exit state. And it should be renamed to reflect its actual purpose.
- When calling `Raft::shutdown()`, if `Raft.inner.raft_handle` is joined without an error, `Raft.inner.core_error` should be set to `Ok(_)`.
- The error propagation adjustment: RaftCore returns

[2022-06-18 04:43] drmingdrmer opened #381 "Remove span.enter() in async blocks"

[2022-06-19 08:28] #381 closed

[2022-06-21 15:33] #25 closed

[2022-06-21 19:13] #373 closed

[2022-06-22 03:23] #24 closed

[2022-06-22 05:50] drmingdrmer opened #389 "With `LogIdList` last_log_id and last_purged_log_id can be replaced with `LogIdList::last()` and `LastIdList::first()`."

[2022-06-22 12:42] xanderio commented on #249
It's not just that the tokio mutex can live across an await, but also that it doesn't block the current thread. Using a `std::sync::Mutex` in an async environment could cause the runtime to exhausted all this thread.

Another possible benefit of using the tokio specific mutex, is that with the (currently unstable) tokio `tracing` feature, these mutex contain a `tracing::Span`.

A possible alternat

[2022-06-22 13:41] drmingdrmer commented on #249
I did mean not to use tokio::Mutex at all.

I mean somewhere tokio::Mutex is used but actually, a std::Mutex is quite enough.

BTW the span embedded in the tokio sync primitives is really sweet.

[2022-06-22 14:03] schreter commented on #249
Synchronous mutexes are sometimes in fact preferable (they anyway can't be locked over await). I didn't check where we do have mutexes in openraft, but the one for shutdown state, for example, is used very seldom (once when shutting down and once when querying the error), so that's a good fit.

Async mutexes (tokio or not) are typically quire heavy-weight, so depending on what they are protecting,

[2022-06-23 02:17] #324 closed

[2022-06-23 02:17] #330 closed

[2022-06-23 02:42] drmingdrmer opened #390 "Optimize tracing statement"
I just skimmed the implementation and didn't look at the tests. I left two minor performance comments (BTW, when this change goes in, I intend to pull the master into our project and do some performance measurements, especially to find the reason for the 2x performance degradation against the previous pull).

Looks OK to me. As I wouldn't describe myself as a Raft expert, I defer the approval to o

[2022-06-23 06:29] #389 closed

[2022-06-23 15:13] #390 closed

[2022-06-24 02:25] drmingdrmer opened #394 "Engine tracks replication progress"
Add a struct `Progress` to track the replication state to every target.

`Progress` is mainly a hashmap of the matched log-id on every target.
The main purpose of `Progress` is to calculate committed log id efficiently.

- [x] #395
- [x] #396
- [x] #404

[2022-06-24 05:31] drmingdrmer opened #395 "Add a standalone trait `QuorumSet` to define behaviors of a quorum system such as majority quorum, joint consensus quorum, hierarchical quorum, etc."

[2022-06-24 05:31] drmingdrmer opened #396 "Add `Progress` that tracks matched log id of each replication target and calculates the committed log id by using a `QuorumSet` implementation."

[2022-06-24 08:26] drmingdrmer opened #398 "Replace Membership config with customized struct optimized for small node set"
BTW, BTreeSet is not particularly suitable for node sets. It is always a rather small set of a few elements, so you are taking a sledgehammer to crack a nut. The BTreeSet implementation does a binary search in the sole root node of the small BTree, which is about order of magnitude slower than a simple linear search. I.e., for small sets typically used in Raft (3-7 participants) a simple array wil

[2022-06-24 09:20] #395 closed

[2022-06-24 14:58] ppamorim opened #399 "The trait `std::hash::Hash` is not implemented for `ExampleTypeConfig`"
The error is present after updating openraft to 0.6.4. It's possibly replicable on my project on the branch `updateRaft`.
[code]
I don't see any massive change despite `StateMachineRequest` being different between the projects.

Here is the link for the defective code (sorry if you don't have access): https://tinyurl.com/4mk7jbx6

[2022-06-24 16:09] ppamorim commented on #399
The changes described on the first file listed here sorted the issue: https://github.com/datafuselabs/openraft/commit/762a7dfad08d7e03e36ab1a716811c249f08a3f0

[2022-06-24 16:15] #399 closed

[2022-06-26 06:01] #396 closed

[2022-06-26 06:08] drmingdrmer opened #404 "Move replication state from ReplicationState to Engine."

[2022-06-27 02:30] drmingdrmer opened #408 "Define quorum set with a bitmap"
Define a quorum set by enumerating all of the combinations of nodes, and storing them in a bit sequence.

### Example:
For a cluster of 3 nodes `0,1,2`, the quorums are `01, 12, 02, 012`.

The corresponding bitmaps are `011, 110, 101, 111`, significant bits left.

And interrupt these bitmaps as indexes of bit, the final quorum-set bitmap is `1110 1000`, significant bits left. This way `is_quorum`

[2022-07-01 09:46] Licenser opened #418 "Example with persistant storage"
Hi,
as during an investigation in available raft libraries for rust we came across open raft, it looks brilliant! Thank you so much for this :).

As part of that we took the example and converted it to [something that has persistent storage](https://github.com/tremor-rs/uring/tree/openraft) would there be interest in a PR  to include this as a secondary example?

[2022-07-01 11:18] drmingdrmer commented on #418
Yeah! Man!

People have asked for a persistent storage implementation, but I haven't got time for this.

If there is another crate providing a rocksdb-based store alongside the `memstore`, it will help a lot of people.

Appreciating!

[2022-07-03 01:46] drmingdrmer opened #424 "Bug: `last_membership_in_log()` may returns duplicated membership entries"
_Suggestion:_
[code]

_Originally posted by @schreter in https://github.com/datafuselabs/openraft/pull/422#pullrequestreview-1026767227_

[2022-07-03 02:37] #424 closed

[2022-07-05 05:04] drmingdrmer opened #432 "Draft: Simplify RaftStorage API"
There are 3 parts of data `RaftStorage` that raft needs to access:

- meta:
[code]

- raft-log:
  - list of entries
  - meta: range: `(purged, last]`

- state-machine:
  - user defined data.
  - meta: last_applied

Membership in Raft can be considered as another slot of logs. And only at most two membership logs need to be stored:

Thus internally, raft has two log-and-state-machine structures: us

[2022-07-06 04:11] drmingdrmer opened #437 "Do not purge log if they are not in a snapshot."
Openraft assumes once a log entry is applied with `apply_to_state_machine()`, the result is persisted. There is no need to rebuild the state machine when a node restarts.

But some application depends on a snapshot to rebuild the state machine.

Currently, it does not wait for a `build_snapshot()` to finish before deleting applied log entries. This means there may not be an up-to-date snapshot to

[2022-07-06 10:36] #418 closed

[2022-07-06 11:46] Licenser opened #438 "raftstore sub-crate"
So following up on #436 and the suggestion to pull out the store.rs into a more generic raftstore crate.

I've been looking over `memstore` and think to make `raftstore` a genuenly useful additional crate it'd need a slighty different approach. While `memstore` by it's nature of not being persistent, probably functions more as a "here is a minimal implementation you can work off off, I could see t

[2022-07-12 01:39] drmingdrmer opened #446 "Stop replication to removed node at once when a new membership is proposed."
Currently, when membership changes, e.g., from a joint config `[(1,2,3), (3,4,5)]` to uniform config `[3,4,5]`(assuming the leader is `3`), the leader stops replication to `1,2` when `[3,4,5]` is committed.

This is an unnecessarily complicated solution.
It is OK for the leader to stop replication to `1,2` as soon as config `[3,4,5]` is seen, instead of when config `[3,4,5]` is committed.

- If th

[2022-07-12 10:58] #446 closed

[2022-07-14 04:26] drmingdrmer opened #452 "When voting, seeing a higher log id should also revert the candidate to follower"
If a candidate sees there is a quorum in which all nodes have greater last-log-id, this candidate can never become the leader.
In such a case, it should revert to follower, and stop bothering other candidates with greater last-log-id.

For now, a simple solution is to revert to follower at once when a candidate sees a greater last-log-id, no matter whether there is a quorum with greater last-log-i

[2022-07-14 12:12] ClSlaid opened #454 "Draft: rename `membership` as `cluster_info`"
`membership::Membership` records IDs and socket addresses of nodes in the cluster.

Though the word `Membership` does mean "all the people who belong to a group"(also used in the famous raft paper), it is more wildly used as "the *state* of belonging to an organisation", especially for those who are not native English speakers. The last meaning may lead to confusion with the `Server State`.
https:

[2022-07-14 14:54] ClSlaid commented on #437
/assignme

[2022-07-19 12:46] drmingdrmer commented on #452
- Fixed in 062d24cbdeb4939469a400772e494554be4232b6

[2022-07-19 12:46] #452 closed

[2022-07-19 12:52] drmingdrmer commented on #394
- Fixed in acbe98236706fcb7664c37cb841c2fb6650b83bd

[2022-07-19 12:52] #394 closed

[2022-07-20 06:56] ClSlaid commented on #306
/assignme

[2022-07-20 12:24] Licenser opened #462 "Improve behaviour during network failure / downed nodes"
I noticed a few things on the behaviour for network issues that could simplify / improve the system in such situations and wanted to share them to start a discussion on the topic.

The first thing I noticed is that `RaftNetworkFactory::connect` returns `Network` not `Result<Netowrk>` this prevent's the runtime from gracefully handling downed nodes.

The second thing I noticed is that when network

[2022-07-20 13:38] #306 closed

[2022-07-20 14:18] drmingdrmer commented on #462
By design, `RaftNetworkFactory::connect()` is not meant to let an application make a real TCP connection at once, but instead, it is meant to let an application create an instance that will actually build a TCP **connection** when one of `send_append_entries()`, `send_vote()` or `send_install_snapshot()` is called.
Thus the error handling such as backoff should be implemented inside `send_append_e

[2022-07-20 14:32] Licenser commented on #462
Oh, that connect just initializes a stand-by network makes a lot of sense for the signature. I still would prefer a Result to be honest for nothing else as it allows other things to be available (for example, address parsing) or allowing for perform validation on the Network to ensure it's sensible configured but that's really a low priority preference :)

As to having logic in the implementation

[2022-07-20 15:56] drmingdrmer commented on #462
If a function returns an error, it assumes the caller can handle it appropriately.
But openraft can not deal with an application error(it could be any error), the only thing it can do is to stop running.
Thus from this point, the application can just `panic()` if it encounters an error when building a network instance, IMHO.

Hmm... I'm afraid I can not agree that the raft engine knows more than t

[2022-07-21 02:34] drmingdrmer commented on #462
After a night, it feels `RaftNetworkFactory::connect()` returning a `Result` would be better.
As you said, there may be misconfigured node addresses being used. In such cases, the raft has a chance to discover it early. But still, the raft can do nothing about such an error, except print an error log.

Using `Result` instead of `panic()` will let the cluster keep working even when there is only a

[2022-07-21 10:01] drmingdrmer opened #466 "`RaftNetworkFactory::connect()` should return a `Result` to indicate an error during building a network connection."
`RaftNetworkFactory::connect()` returning a `Result` would be better.

There may be misconfigured node addresses being used. In such cases, the raft has a chance to discover it early. But still, the raft can do nothing about such an error, except print an error log.

Using `Result` instead of `panic()` will keep the cluster working even when there is only a minority of misconfigured nodes.

_Origi

[2022-07-21 10:11] drmingdrmer commented on #462
The timeout is controlled by the `heartbeat interval`, i.e, an RPC to send entries or to send a heartbeat(an empty send-entries request) should not take longer than the interval between two heartbeats:
https://github.com/datafuselabs/openraft/blob/d40dabe684d86b7e1b30807cba7f8bd5c8464493/openraft/src/replication/mod.rs#L326

It's possible to add another config to control the max timeout for an RPC

[2022-07-21 11:34] Licenser commented on #462
Oh yes a timeout to a "functioning" node is not the scenario I'm concerned about, I'm thinking about a scenario where for (reason) a node in a cluster (or two) are down. Let me draw the worst case scenario to illustrate.

We have a 7 node cluster. All set up and running smoonthy.

Now we encoutner one of those dreaded network partitions (Oh no!), and split the cluster in two, for simplicities sake

[2022-07-21 14:56] drmingdrmer commented on #462
An application could record the last several failures to send out RPC, and if the application believes there are too many errors, it could sleep for every to stop sending out any RPC.
Then the raft will timeouts this RPC, and will retry later around. E.g.:

[code]

This way, you do not have to set `heartbeat_interval` or other configs to an insane value to implement a backoff behavior.

Yes, nodes

[2022-07-21 15:48] Licenser commented on #462
I don't think that would work. When I read [the code](https://github.com/datafuselabs/openraft/blob/062d24cbdeb4939469a400772e494554be4232b6/openraft/src/core/raft_core.rs#L1352) correctly that timeout would simply lead to a lot of them piling up and being executed later - as the vote is spawed in a new task and doesn't prevent multiple of those tasks to be spawned in parallel.

What I could see i

[2022-07-21 17:01] drmingdrmer commented on #462
Right. vote request should have timeout control. This is a missing feature :(.
It should be done the same as append-entries does:
https://github.com/datafuselabs/openraft/blob/062d24cbdeb4939469a400772e494554be4232b6/openraft/src/core/raft_core.rs#L390-L409

When the raft sees a `BackOff` error, what does it do with it?
As I can see, it is application specific. The raft could just stop calling Raf

[2022-07-21 17:01] drmingdrmer opened #467 "vote request should have timeout control."
Right. vote request should have timeout control. This is a missing feature :(.
It should be done the same as append-entries does:
https://github.com/datafuselabs/openraft/blob/062d24cbdeb4939469a400772e494554be4232b6/openraft/src/core/raft_core.rs#L390-L409

When the raft sees a `BackOff` error, what does it do with it?
As I can see, it is application specific. The raft could just stop calling Raf

[2022-07-21 17:16] Licenser commented on #462
The way `append-entries` we're back to the problem that the `ttl` overrides the timeout in the application, if `ttl` is 50ms and the application wants to delay for 1s the delay would be canceled after 50ms bringing it to the problem of having set silly long `ttl` for requests :(

async-timeouts cancel the offending future if the timeout is hit so any sleep in there will simply be canceled out ahea

[2022-07-21 20:41] schreter commented on #462
I'm following your discussion, since we have a similar problem in our project - we don't want to send unnecessary messages (and we don't even want to send empty ping messages, see below).

We have a different method for keeping "liveness" info of a link between two nodes. As long as the link is deemed "live" any consensus domains communicating via this link (we have replicas of multiple/many conse

[2022-07-22 02:14] drmingdrmer commented on #462
The `heartbeat interval` should be longer than the time a normal RPC takes. So that raft could work correctly.
If an application tries to delay `1s` while the heartbeat interval is `50ms`, it could just sleep for the next 20 heartbeat RPC. And raft is responsible to guarantee no piling up.

Right.
The application needs to have a **global** backoff sleep time. Not just a per-RPC sleep time.

If to

[2022-07-25 13:28] awesomike opened #469 "v 0.6 stable rust"
Hi, is it possible to use version 0.6 with stable rust?
I get this error when I try.
[code]
   Is there a way to opt out of the backtrace feature?

   Thanks 😊 in advance

[2022-07-25 14:35] drmingdrmer commented on #469
Sure!

But I recommend using the latest `main` branch.
`main` branch fixed several issues such as election conflict and there is a complete example for users to follow. And the API in `main` branch is more clear and simple(at least to me:))

If it's possible for you to use the `main` branch, just load openraft via git commit in your Cargo.toml:
[code]

db047b978e08fdb6f23bc4c27f94d4bd36ab925b is t

[2022-07-25 14:45] awesomike commented on #469
Thank you, very much 🙏

[2022-07-25 15:41] ppamorim opened #471 "panicked at 'assertion failed: `(left == right)` when adding learner"
When calling `app.raft.add_learner(node_id, Some(node), true)` the application crashes and a error happens.

Payload:

`POST - /add-learner [8117459876464397197,  "0.0.0.0:8101"]`

Error:

[code]
Full log: https://gist.github.com/ppamorim/520c04892db587790e07cadf2b30c6e4

Openraft is in sync with the main branch.

EDIT 1:

It seems to not be deterministic, if I call this a couple of seconds after

[2022-07-25 16:14] drmingdrmer commented on #469
I've published v0.6.7 that will compile by stable toolchain.

But, don't you want to use the `main` branch that will be more stable than 0.6

[2022-07-25 17:42] awesomike commented on #469
Thank, I'll stay on `main` in the mean time.

[2022-07-25 22:30] zach-schoenberger commented on #316
Hi All, I'm looking at adding this feature and ran into a small issue. Is there any issue with moving away from using AnyError directly in some of the messages? An example: https://github.com/datafuselabs/openraft/blob/main/openraft/src/error.rs#L319
The issue being that AnyError is defined in the external crate so we can't easily add the rkyv traits to it

[2022-07-26 00:54] #469 closed

[2022-07-26 02:30] drmingdrmer commented on #471
I believe the panic happens here:
https://github.com/datafuselabs/openraft/blob/d62183517be4b6e38360cc107d10f2488123641b/openraft/src/raft.rs#L439

This is to check if replication to the newly added learner becomes up to date.
But here it tries to use `matched.leader_id` to build a LogId, while `matched` is an uninitialized value `(0,0)`. In such a case, it should avoid creating a LogId but just c

[2022-07-26 03:10] ClSlaid commented on #466
/assignme

[2022-07-26 03:15] ClSlaid commented on #467
/assignme

[2022-07-26 03:38] ClSlaid commented on #466
I'll first make all direct function calls suffixed with `unwrap()`. As for how to exactly deal with these `Result`s, further discussion is needed.

[2022-07-26 05:57] #471 closed

[2022-07-26 06:11] drmingdrmer commented on #466
It's a good start. Let's discuss it in your PR:D

[2022-07-26 09:49] Licenser commented on #462
Sorry for the late reply, the last few days have been hectic. That's a really neat idea, I never thought about that kind of layering, and I really like it! It would still give timeout errors in the logs but it's a good stop-gap :).

[2022-07-26 19:01] Licenser opened #475 "jepsen tests"
Hi,

so I've started pulling in open raft into [tremor](https://tremor.rs) as part of the upcoming work for clustering. I used the rocksdb example as a baseline, made some changes to make the API work a bit smoother, and added a basic [jepsen test](github.com/tremor-rs/tremor.jepsen).

Jepsen is a bit tricky in that it requires docker setups and all that stuff, and the tests are extremely basic so

[2022-07-27 02:13] lichuang commented on #475
Thankfully, we are also trying to introduce some distributed testing frameworks in openraft.

Currently I am working on how [stateright.rs](https://www.stateright.rs/title-page.html), a distributed testing framework written in Rust, can be introduced into the openraft project, the difference between jepsen and the stateright.rs is that:

* jepsen tests the project in black box way.
* while stateri

[2022-07-27 02:48] drmingdrmer commented on #475
Yes! It'd be appreciated!

Openraft has been developed in a design-driven manner. Tests are mainly used to check the correctness of the implementation of the algorithm(APIs of `Engine`), and overall behavior(APIs of `Raft`).
While the correctness of the complete working flow(`Raft <-> RaftCore <-> Engine`)  is not covered very well, e.g., the correctness of internal message ordering and validation

[2022-07-27 07:17] ClSlaid opened #476 "Typo fixes"
Currently, there is a bunch of typo error in OpenRaft, like:
https://github.com/datafuselabs/openraft/blob/1202d1b059f7e07f0f3353b74f0b2795f063ab56/rocksstore/src/lib.rs#L64
https://github.com/datafuselabs/openraft/blob/1202d1b059f7e07f0f3353b74f0b2795f063ab56/openraft/src/raft.rs#L1025
We need to correct those misspells to keep the code tidy, clear and professional. :)

[2022-07-27 14:15] drmingdrmer opened #477 "Move rocksdb store into a standalone crate."
Leave only one application level example.
The example should let user switch between different storage engine  with a feature flag, such as `--features memstore|rocksdbstore`

_Originally posted by @Licenser in https://github.com/datafuselabs/openraft/issues/436#issuecomment-1176001831_

[2022-07-28 01:37] drmingdrmer commented on #316
It is possible to add rkyv to AnyError.

But AFAIK, only types that need to be persisted on disk need rkyv support.
Errors in openraft are only used for transport.
Does it have to be encoded in the rkyv format for transport?
E.g., for `send_append_entries():
https://github.com/datafuselabs/openraft/blob/1202d1b059f7e07f0f3353b74f0b2795f063ab56/openraft/src/network.rs#L49-L52

The response and resp

[2022-07-28 05:30] ClSlaid opened #478 "Feat: network failure simulation with `tests::fixture::RaftRouter`"
Currently, `tests::fixture::RaftRouter` offers some useful test utilities for simulating and observing raft clusters. Its `isolate_node(target)` method could take down RPC requests sent to or from `target`, making the node isolated on the *application layer*.

But real-world network problems will not only occur on the application layer. For example, a switcher connecting to some of your nodes, whi

[2022-07-28 06:47] drmingdrmer opened #479 "@drmingdrmer So after digging through setting up tests, I've come to the conclusion that adding this support doesn't really make sense IMO. At a high level it sounds like a good idea. But when it comes to the implementation it breaks down. rkyv is a great library, and I've used it in other projects. But it introduces a model that doesn't work well with the current raft API in this project. rkyv introduces the concept of an Archive data type, which is the serialized version of the data type that the annotations are applied to. The archive is typically what is used to access fields so that way deserialization is not needed (hence the zero copy). In order to get the advantage of the Archive concept, openraft would have to accept the archive as apart of the api layer, like here: https://github.com/datafuselabs/openraft/blob/1202d1b059f7e07f0f3353b74f0b2795f063ab56/openraft/src/raft.rs#L218-L221"
@drmingdrmer So after digging through setting up tests, I've come to the conclusion that adding this support doesn't really make sense IMO. At a high level it sounds like a good idea. But when it comes to the implementation it breaks down. rkyv is a great library, and I've used it in other projects. But it introduces a model that doesn't work well with the current raft API in this project. rkyv in

[2022-07-28 16:18] zach-schoenberger commented on #479
I believe the common case would be a stream of rkyv Archived Entry. Which are really just a custom Vec<u8>. You can't really use a sub part of the the archive well. Power users might combine these buffers with size prefixes and be able to stream them, but it isn't currently supported directly by the library.

[2022-07-29 01:09] drmingdrmer commented on #479
Then what do you expect the `send_append_entries()` API to look like?

[2022-07-31 16:06] drmingdrmer commented on #260
Fixed

[2022-07-31 16:06] #260 closed

[2022-07-31 16:06] #259 closed

[2022-07-31 16:09] #437 closed

[2022-08-01 00:52] #151 closed

[2022-08-01 02:41] #476 closed

[2022-08-01 02:50] drmingdrmer commented on #357
- Fixed in 062d24cbdeb4939469a400772e494554be4232b6

When a higher log is seen, the candidate does not switch to follower but sleep for a while.

[2022-08-01 02:50] #357 closed

[2022-08-01 02:59] drmingdrmer commented on #252
Now candidate, follower and learner share the same event-loop in RaftCore.

[2022-08-01 02:59] #252 closed

[2022-08-01 05:23] #171 closed

[2022-08-01 23:00] zach-schoenberger commented on #479
Just want to preface that I'm still relatively new to this code base, so I could be entirely wrong.

But as I look through the code, I keep coming back to that the current API looks just fine for the common case. It's just more on the user to leverage the serialized byte format at the top level when defining the `RaftTypeConfig`. At least in terms of using openraft with rkyv.

In terms of updating

[2022-08-02 01:13] drmingdrmer commented on #479
There is another issue discussing about updating snapshot-API:

- https://github.com/datafuselabs/openraft/issues/209

You're right, all these 3 API are in a **metadata followed by a stream of data**  manner(except `send_vote()` does not have data)

It looks like now there are 2 preferences on the network API:
- easy to use: deal with directly structured data types,
- high performance: deal with s

[2022-08-02 13:46] zach-schoenberger commented on #479
The storage api would also have to allow for this when getting the entries. It doesn't look to crazy to do looking at the code. Using a top level trait for `RaftNetwork` and `RaftStorage` with each having 2 sub traits. One for the serialized version, one that is the current version. And then different impl blocks where the api is used.

[2022-08-03 02:18] #466 closed

[2022-08-03 02:33] drmingdrmer commented on #479
Can you exhibit a piece of code of this trait definition?

[2022-08-03 14:52] drmingdrmer opened #491 "Draft: adjust RPC error"
# Do not read. unfinished draft.

`ForwardToLeader` depends on `NodeData`.
This caused all the depending types to include a new generic type `Node`.

The hierarchical structure of `client_write() -> Result<ClientWriteResponse<C>, ClientWriteError<C::NodeId>>` return value is as the following:
[code]

[code]

[code]

[2022-08-03 21:41] zach-schoenberger commented on #479
After going down that rabbit hole for a bit, it would end up with a lot of duplicate code and I don't see a very straight forward way to approach it. I also checked on what it would be like to add another `RaftTypeConfig` type for a list of entries, and it looks more doable, but still very intrusive.
https://github.com/zach-schoenberger/openraft/tree/serde_network is where I was trying out the tra

[2022-08-05 05:04] drmingdrmer commented on #479
@zach-schoenberger
It looks like the current framework needs some refactoring to fit such a need.
I'll have some experiments on this.

[2022-08-05 14:51] drmingdrmer opened #496 "Impl LeaderState in Engine."

[2022-08-05 15:09] drmingdrmer opened #498 "Impl install snapshot in Engine."

[2022-08-05 16:20] #496 closed

[2022-08-05 21:57] zach-schoenberger commented on #479
Sounds good. I'm down to help out with changes. Just not sure what the approach is that you want to take for the update. Especially with how intrusive it is with the inner workings.

[2022-08-08 01:20] Gab-Menezes opened #505 "Recommended values for `Config::max_applied_log_to_keep` and `Config::snapshot_policy`"
I was curious about the behaviour when `Config::max_applied_log_to_keep < Config::snapshot_policy` (in this case we start to purge logs before creating a snapshot), which could be a problem since can lead to some possible data loss.
My tests where specially in the case where another node enters the cluster before creating a snapshot and having some logs purged. In this case the Leader notices this

[2022-08-08 07:06] drmingdrmer commented on #505
You're right there are problems with such a setting.
But it won't lead to data loss, since the application should have to implement `RaftStorage::apply_to_state_machine()` in a way so that when this method returns, the applied log is already persisted.
The problem only leads to frequent snapshot building, as you mentioned.

I noticed this issue too and was planning to change `max_applied_log_to_ke

[2022-08-08 07:29] calvin2021y opened #506 "add c api support"
please consider add c api header file support, so it can be used as https://github.com/canonical/raft replacement.

[2022-08-08 18:15] Gab-Menezes opened #507 "Different way to generate snapshots"
I was thinking about how snapshots are created by Leader and sent to the Followers.
Looking at the examples (specially rocksdb one) and how the snapshot is created and distributed, and noticed a few possible problems.
1. The snapshot itself is stored in the same DB with all the other data (the DB itself will grow in size indefinitely and can result in performance loss, since DB is not optimized fo

[2022-08-09 07:43] drmingdrmer commented on #507
You are right, a snapshot is not necessarily stored in rocksDB, the example is a minimal application showing what has to be done but of course, not the best way to do it. Otherwise the example will be a crate of thousands of lines of codes. :(

Right.

This is a reasonable classification.
Actually, a raft(or other distributed consensus algorithm) does not really need a **state machine**. State mac

[2022-08-09 13:05] Gab-Menezes commented on #507
What I mean by this last point is:

Imagine the following folder structure to save the snapshots `snap/<node_id>/<rocksdb_files>` and we have a cluster with nodes `1, 2` (node `1` is the leader) and want o add a new node with id `3` (this node will be built with node's `1` snapshot).

First let's imagine the scenario where the new node does not copy the files to it's own folder. So simulating this

[2022-08-09 13:40] Gab-Menezes commented on #507
I was about to edit my comment but you were faster haha.

A was going to say to leverage the fact that `Raft::add_learner()` .

And another question, the snapshot creation also blocks the `RaftCore` or is handled somewhere else (i.e I can call blocking functions in it (maybe the upload step is not async or something like that)).

And I was also going to say that if a node is so far behind that it

[2022-08-09 13:57] drmingdrmer commented on #507
🤔

Creating will be running in a separate tokio-task. It won't block `RaftCore`.
Since creating a snapshot is a read-only operation it does not have to block anything else.
But it's still up to the implementation: the storage must support building snapshot without blocking writes, such as snapshots in rocksdb.

Normally all read and write requests should go to the leader node unless the applicatio

[2022-08-09 14:00] Gab-Menezes commented on #507
I think that's it, ty.

Can I close this issue ?

[2022-08-09 14:02] drmingdrmer commented on #507
Sure my friend

[2022-08-09 14:02] #507 closed

[2022-08-10 08:41] Licenser commented on #506
Been through this in a different place, since openraft is heavily async it will translate extremely poorly to c-land

[2022-08-10 09:41] calvin2021y commented on #506
wrapper it with struct like https://github.com/datastax/cpp-driver future will be a option.

[2022-08-10 10:23] Licenser commented on #506
The problem is that futures in rust and c are very differently implemented you can't just take a rust future and run it in a c asyncronous runtime (or vica versa)

[2022-08-11 09:48] calvin2021y commented on #506
Is is possible to  wrapper rust future with C struct  and pass into libuv envet loop (or uv_async_t)?

[2022-08-14 13:29] drmingdrmer opened #511 "Bug: When handling append-entries, if prev_log_id is purged, it should not delete any logs"
When handling append-entries, if the local log at `prev_log_id.index` is
purged, a follower should not believe it is a **conflict** and should
not delete all logs. It will get committed log lost.

To fix this issue, use `last_applied` instead of `committed`:
`last_applied` is always the committed log id, while `committed` is not
persisted and may be smaller than the actually applied, when a follow

[2022-08-15 02:30] #511 closed

[2022-08-18 02:18] drmingdrmer commented on #467
Fixed in 0d024b3ae99d51d108181bdc5baafa80d3d1b376
Thanks to @ClSlaid

[2022-08-18 02:18] #467 closed

[2022-08-18 11:37] Licenser opened #525 "connection is never established when `RaftNetworkFactory::connect` errors once"
When `RaftNetworkFactory::connect` is called and an error is generated the node connection is going to stay dead forever putting the raft cluster in invalid state.

To repdoduce:

1) a start 3 node, see up working cluster (1: leader, 2, 3: follower)
2) stop node 1
3) new leader is elected  (2: leader, 3: flower, 1: offline)
4) node 2 tries to establish connections to other nodes
5) node 2 errors i

[2022-08-18 13:05] drmingdrmer commented on #525
Forward the discussion:
https://github.com/datafuselabs/openraft/pull/526#discussion_r949105878

[2022-08-19 00:47] drmingdrmer opened #527 "rename `RaftNetworkFactory::connect()` to `new_client()`"
Hmm.. `connect()` should return something that can `dial` when needed, but not an established connection.

In this example app, `connect()` will be called only once, when the replication stream is created. And a replication stream won't be created again unless the leader or the membership changes.

This means, there is no chance for the leader to **reconnect** to a follower if the follower went do

[2022-08-20 13:04] ss025 opened #528 "Difference between implementation of MemStore in main vs release-0.7 branch"
I see that code looks structurally different from release 0.7 in the main branch. Raft Storage is broken into multiple traits(LogReader / storage/snapshot) in main but as only one trait in 0.7.

What is the reason behind this? Just curious to know.

Main - https://github.com/datafuselabs/openraft/blob/main/memstore/src/lib.rs
0.7 - https://github.com/datafuselabs/openraft/blob/release-0.7/memstore

[2022-08-22 07:32] drmingdrmer commented on #528
- About log: When writing logs, there should be only one instance globally in a program that can **write logs**. But when reading logs for replication, there are multiple instances of `ReplicationStream` that read logs. Using the same type for writing and reading(as in 0.7) makes it hard to find unintentional(concurrent writing) to `RaftStorage` implementation. Thus in the main branch, it makes th

[2022-08-22 10:02] ss025 commented on #528
Thanks. Few more doubts.

1. What is the reason StateMachine is behind RW lock in rock store example in main branch ?

[code]

2. Is the main branch stable enough to build app against it? Assuming future releases will be in line with the main branch.

[2022-08-22 16:14] drmingdrmer commented on #528
I believe it's for simplicity only.
A production should implement atomic update with rocks-transaction API.

The main branch is for the 0.8 release. There won't be big API changes when 0.8 is released.
Currently, the work is mainly on refactoring internal structure to make the next step of development easier and more clear, e.g. deterministic test and re-order storage command execution for maximiz

[2022-08-22 16:31] #498 closed

[2022-08-23 07:03] ss025 commented on #528
But as you mentioned there is always a single writer which will be writing to rocksdb/logs/metadata. In that case do we need synchronization or atomicity?

Or Let me know if I understand it correctly.

- Since we are updating multiple meta-data fields last_applied_log_id and last membership in the state machine, both need to be updated atomically (if saving in two diff fields in rocksdb) or save b

[2022-08-23 07:31] drmingdrmer commented on #528
It's required when the caller must read more than one record: e.g. `get_log_state()` returns the `last_purged_log_id` and the `last_log_id`. This lock prevents one of them from being changed after reading the other one: e.g.:
- read `last_log_id` form rocksdb;
- RaftCore purged some log and updated `last_purged_log_id`.
- read `last_purged_log_id` from rocksdb.

Then the returned `last_purged_log_

[2022-08-23 12:36] ss025 commented on #528
Thanks @drmingdrmer for clarifying. From docs looks like `log_state` and `last_applied_state` are the ones which require atomicity.  or Is there anything else ? I checked for comment `NOTE: This can be made into sync, provided all state machines will use atomic read or the like.` :-)

[2022-08-23 13:09] drmingdrmer commented on #528
Crate `memstore` is an example of what operations require atomicity.
In the implementation of `memstore`, if two updates are protected by one lock, it requires atomicity.

Making these API a `sync` method requires the API contract to be updated.
E.g. `apply_to_state_machine()` does not have to be `async`, if `RaftCore` does not depend on a **durable** state-machine, i.e. when `apply_to_state_machi

[2022-08-24 07:15] ss025 commented on #528
Got it.

Would it make sense to force this atomicity from the framework itself? Otherwise, the implementor has to take of care of these things which may increase the chances of error.

E.g in the framework for getting log state

[code]

Same for last_applied_state .

[2022-08-24 07:18] drmingdrmer commented on #528
Right. It can be simpler, in future:)

[2022-08-24 07:22] ss025 commented on #528
Great !! 👍

Thanks a lot for clarifying my doubts. Waiting for next release :-)

[2022-08-24 07:22] #528 closed

[2022-08-24 08:46] #525 closed

[2022-08-24 09:58] drmingdrmer commented on #527
- Fixed by #526

[2022-08-24 09:58] #527 closed

[2022-08-24 11:57] ss025 commented on #507
@Gab-Menezes @drmingdrmer

I need help understanding the following use case related to the rocksdb checkpoint.
Consider following

1. Existing cluster -> ` A(leader) `  and   `B(Follower)`
2. Snapshot of  A  -> `A/s1/*.sst `
3. New `Node C` is added as a learner
4. `Node A` sends install snapshot with `snapshot-id = s1`
5. `Node C` starts installing `snapshot = s1 ` (let's assume it will take arou

[2022-08-24 12:36] drmingdrmer commented on #507
In openraft, building a snapshot does not imply the snapshot has to be replicated to followers/learners.
Even if the leader does send every snapshot, the follower won't deal with the next install-snapshot request before the current one is finished. Because all updates to the **storage** are serialized in openraft.

I hope the answer to the first question solves this one too:D.

[2022-08-24 12:49] ss025 commented on #507
Understood.

Let's just say, after step 6

7. `Node A` has purged its raft log (compaction ) and created a snapshot` s2 ->( A/s2/*.sst)`
8. Once `Node C `finishes installing a snapshot, Raft core will check the replication state of Node C ( Lagging or LineRate)
9. Since Leader can not read entries from raft log (as they are purged ), it again has to install snapshot to Node C. Is this understandin

[2022-08-24 13:06] drmingdrmer commented on #507
Correct. This could happen.
These too configs are meant to solve this problem, just let the leader keep many enough logs:

https://github.com/datafuselabs/openraft/blob/956177df8f57e46240ae1abf283bdd49aa9d8b85/openraft/src/config/config.rs#L154

https://github.com/datafuselabs/openraft/blob/956177df8f57e46240ae1abf283bdd49aa9d8b85/openraft/src/config/config.rs#L128-L146

And I know that etcd-raft

[2022-08-24 13:43] ss025 commented on #507
Make sense. Thank you. Closing this discussion here.

[2022-08-31 06:15] drmingdrmer opened #541 "Remove feature "bt", rust feature `backtrace` has been stable."
- #539

[2022-09-01 02:43] drmingdrmer commented on #541
`std::error::Error::backtrace()` is not yet stabilized. Can not remove feature `bt`.

[2022-09-01 02:43] #541 closed

[2022-09-09 10:33] vishwaspai opened #550 "Example raft-kv-memstore hangs after printing change-membership"
Took a latest checkout of main (commit hash: 347aca11c913b814bba77cfee6f9635c03b353e3) and ran
`raft-kv-memstore$ ./test-cluster.sh`

But it hangs after reaching this place..

I see that 3 process are running and first process is using 100% CPU and other 2 are almost idle. Could not access discord channel (for some reason it does not open) hence reporting it here. If required I can share any speci

[2022-09-10 01:43] vishwaspai commented on #550
Did some debugging. As soon as node-2 gets added (via `add-learner`), leader (node-1) starts sending `raft-append` rpc to node-2 aggressively. A this time cluster has only 1 leader and 1 learner. I think this overwhelms either node-1 or node-2 and things do not work after that.

If I change the config in this example (see below) to same as rocksdb, things work fine. I still see `raft-append` on no

[2022-09-10 13:12] drmingdrmer commented on #550
The logs will be helpful.
After running `./test-cluster.sh`, there should be 3 logs in dir `examples/raft-kv-memstore`:
`n1.log n2.log n3.log`.

Attach these logs, please and let me look at what's happening.

Thanks for letting me know about this issue:D

[2022-09-10 13:55] vishwaspai commented on #550
Attached logs

[raft-kv-memstore-logs.tar.gz](https://github.com/datafuselabs/openraft/files/9540491/raft-kv-memstore-logs.tar.gz)

[2022-09-12 03:41] drmingdrmer commented on #550
Well... I did not see anything wrong in the logs, except a lot timeout:

- Node-1 keeps failing to send append-entries RPC, you can find logs like `handle_update_matched target=2 result=Err("deadline has elapsed")` since `2022-09-10T13:50:19Z`, in `n1.log`(the leader).
- Node-2 received `append-entries` requests and dealt with them correctly, but it failed to respond before the 50ms timeout. You c

[2022-09-12 03:42] drmingdrmer commented on #550
Heartbeat interval affects the timeout: an append-entries RPC should not take longer than the interval between 2 heartbeats.

[2022-09-12 04:36] vishwaspai commented on #550
No. I'm running on i7-12700H with 14 cores.

[2022-09-13 06:23] drmingdrmer commented on #550
I did not yet find what was going on from the log.

I updated the main branch to let examples output a more detailed log. May you rerun the test with the latest main branch ac4830923bb828288f8a33538991a2964658821a? And let's see what's going on.

And what's your OS and the rust-toolchain?

And may you attach the `examples/raft-kv-memstore/Cargo.lock` that is built when running `test-cluster.sh`? S

[2022-09-13 07:11] drmingdrmer opened #555 "Add doc: FAQ: `guide/faq.md`: explain log-id: (term,node_id,log_index)"
Explain why a node_id is required in `log-id` and `vote`: the benefits and the necessity.

[2022-09-13 10:07] drmingdrmer commented on #550
Do you have a proxy installed on your machine? 🤔

The first log is printed by openraft at:
https://github.com/datafuselabs/openraft/blob/feb9ef7c463e78ab8b3014aeb61e2b117257dca2/openraft/src/replication/mod.rs#L326-L335

The second log is printed by `reqwest`:
https://github.com/seanmonstar/reqwest/blob/8b37ae4b15f668e3e3f9b8cf43b547fc4f95e444/src/connect.rs#L560

[code]

You can see that every lo

[2022-09-13 10:25] vishwaspai commented on #550
No.

[2022-09-13 14:40] drmingdrmer commented on #550
It looks like it is not an issue with openraft, but an issue at the network layer.

I'm not an expert on `reqwest` and can not figure out what's possibly wrong. :(

Can you do a single-step debugging of it on your machine? Running this test does almost the same as `test-cluster.sh`. You can get started with it:
https://github.com/datafuselabs/openraft/blob/main/examples/raft-kv-memstore/tests/clus

[2022-09-14 01:23] vishwaspai commented on #550
For now, I ran with `-w '\nConnect: %{time_connect}s\nXfer   : %{time_starttransfer}s\nTotal  : %{time_total}s\n'` to curl (instead of `time`) and following is the result.

Based on the results I see that `add-learner` is taking time. Other curl requests fast. At least, I don't see this as networking issue. Anyways, I'll see if I can spend time on single stepping.

[code]

[2022-09-14 01:29] drmingdrmer commented on #550
When adding a learner, the leader will block until the new learner catches up with the logs, thus it takes a longer time, which should be expected behavior.

[2022-09-15 14:53] vishwaspai commented on #550
Could not find much with additional debugging.
With heartbeat of above `100ms` things work fine. Below this, I see that the `raft-append` rpc timesout. I tried some tweaking (number of workers etc) on actix_web, but I do not much change in behavior.

[2022-09-16 08:41] Gab-Menezes opened #558 "Openraft won't ensure log replication when node is a learner ?"
**Describe the bug**
I'm facing the scenario where I issue `client_write` in a loop of a few heavy logs (by heavy I mean, that they have a big payload when encoded, more than 256kb), I'm doing this because transmitting such a big payload at once can be a problem.
[code]
The process of applying to the state machine is quite fast since this logs were previously pre processed (this is the reason why

[2022-09-16 11:27] drmingdrmer commented on #558
Yes it is as expected.

A log will be committed if and only if it is replicated to a quorum(majority) of **voters**.

A learner is a node that does not grant a vote or is counted as a quorum member.
It just receives logs from the leader. That's all.

The reason for the existence of a learner is to backup data in case a voter is down, or to catch up with logs before converting the learner to a vote

[2022-09-20 09:55] vishwaspai commented on #550
Can I do something else to help ? Is this problem specific to my environment ?

[2022-09-20 14:38] Gab-Menezes commented on #558
Ty for the explanation.

[2022-09-20 14:38] #558 closed

[2022-09-20 14:39] Gab-Menezes commented on #505
Since this change was already merged I'm gonna close this one, ty.

[2022-09-20 14:39] #505 closed

[2022-09-21 01:02] drmingdrmer commented on #550
The problem happens after calling `send_append_entries()` and before calling `reqwest`: https://github.com/seanmonstar/reqwest/blob/8b37ae4b15f668e3e3f9b8cf43b547fc4f95e444/src/connect.rs#L560

As I mentioned in a previous comment:
https://github.com/datafuselabs/openraft/issues/550#issuecomment-1245189859

I still can not reproduce the 35ms delay on my laptop or in a CI.
Maybe you can find out wh

[2022-09-27 13:44] drmingdrmer opened #565 "Let Engine deal with `AppendResponse::HigherVote` error"
Vote can not be updated directly. Other related states should be updated accordingly too, such as `InternalServerState`

- #564

[2022-10-02 13:12] mfelsche commented on #565
Can we consider this fixed now, or are there places left where this should be fixed as well?

[2022-10-04 12:23] Licenser commented on #475
cc @mfelsche

[2022-10-06 01:05] drmingdrmer commented on #565
It can be closed :)

[2022-10-06 01:05] #565 closed

[2022-10-21 15:25] drmingdrmer opened #581 "release-0.7: arg `blocking` in `change_membership()` can be removed"
The behavior of argument `blocking` in `change_membership()` is not clear:

https://github.com/datafuselabs/openraft/blob/2896b98e34825a8623ec4650da405c79827ecbee/openraft/src/core/admin.rs#L144-L149

Currently, the `change_membership()` method depends on the state of the replication to every node and the `blocking` argument to decide what to do next:

| replication state | `blocking` | action |
|

[2022-10-22 14:34] #581 closed

[2022-10-22 14:34] drmingdrmer commented on #581
Fixed in #582

[2022-10-28 01:23] fredfortier opened #584 "Error After change_membership: `assertion failed: value > prev`"
Sorry this isn't well isolated into a unit test, but can you make sense of this error:

[code]

This seems to happen following a `change_membership`, promoting a learner and keeping the same leader. This started after upgrading to the latest master recently. Any pointers would be appreciated to inform my own investigation.

[2022-10-28 03:54] drmingdrmer commented on #584
Thanks for reporting this bug!

This error said that it tried to update the replication state to a former state.

I will need some more time to figure out what was wrong. My guess is either of the following:
- Snapshot replication updated the replication state, but the line-rate replication was unaware.
- When new nodes are added, the replication tasks are re-spawned. Thus it forgot the latest alr

[2022-10-28 11:19] drmingdrmer commented on #584
I can reproduce it in a unit test, it's the second reason. Let me fix it.

[2022-10-28 16:58] fredfortier commented on #584
Thanks for the stellar support as usual! I see you’ve added related commits so I’ll retry. I’m happy to provide a longer log if the issue persists.

[2022-10-29 01:58] #584 closed

[2022-10-29 02:35] drmingdrmer commented on #584
It does not look necessary:) I can 100% reproduce this bug.

[2022-10-30 15:21] fredfortier opened #586 "Correct Shutdown Procedure"
I'm shutting down individual voters like this:

1. Voter sends an app-layer Logout request to the leader
2. Leader removes the voter id: `raft.change_membership(new_voter_ids, true, true)` by demoting it to learner
3. Voter waits for confirmation: `raft.wait(None).metrics(|x| !x.membership_config.voter_ids().any(|id| id == node_id))`
4. Newly demoted learner shuts down its raft: `raft.shutdown().a

[2022-10-31 00:45] drmingdrmer commented on #586
Hmm... it's a typical dilemma with distributed consensus protocol: either to tolerate that a receiver may not receive a message or to tolerate that a sender may block forever.

Thus the leader may give up replicating the last log to a removed voter, and an app should not rely on the removed voter receiving the last log.

To complete the first policy:
- Convert it to a learner, then expect the last

[2022-10-31 06:19] drmingdrmer commented on #586
BTW, why is it necessary to wait for the replication of the second membership log to the node being removed?

As soon as the leader commits this log, that voter node can be shut down without trouble.

[2022-10-31 15:26] fredfortier commented on #586
Thanks! That's where I ended up, but it's good to have your input. The leader doesn't respond until `change_membership` returns (which I believe means the `Membership` entry was committed to the raft), so it's good enough.

[2022-10-31 15:26] #586 closed

[2022-11-02 10:37] ZhaoQian888 opened #592 "I want to know how to recognize self is leader when storage apply log"
I want to do some thing when leader commit and apply to StateMachine , could some one teach me how to impl such feature

[2022-11-02 10:37] ZhaoQian888 commented on #592
/help

[2022-11-02 11:22] ZhaoQian888 commented on #592
@drmingdrmer  help! 可以解答一下这个问题吗，谢谢🙏

[2022-11-02 13:54] #592 closed

[2022-11-02 13:55] ZhaoQian888 commented on #592
I use a global raft var solve this

[2022-11-02 15:32] Xuanwo commented on #197
Any updates on this issue? It seems already solved by https://github.com/datafuselabs/openraft/pull/219.

cc @drmingdrmer

[2022-11-02 16:33] drmingdrmer commented on #592
Since a `RaftStorage` implementation stores the `Vote` via `save_vote()`:
https://github.com/datafuselabs/openraft/blob/3111e7e6c8649f7068f959bc58e484f3b95732bb/memstore/src/lib.rs#L248-L254

The storage implementation can get the saved `vote` when applying a log. The structure of `Vote` looks like the following, and the value of the vote defines the server-state of the raft node:
[code]
- `Vote.n

[2022-11-02 16:34] drmingdrmer commented on #197
Right. I forgot to close it. Thank you, my hero!

[2022-11-02 16:34] #197 closed

[2022-11-02 17:27] ZhaoQian888 commented on #592
thanks for you patient reply, It really help. it is very usefull framework

[2022-11-03 10:02] ChiaoTeo opened #595 "storage apply entry is single thread ? why this need send && sync trait"
if I can unsafe impl send and sync for my data structure. it only modify at apply entry

[2022-11-03 13:54] drmingdrmer commented on #595
I guess it has to be shared between threads by reference.
I did not dig deep into this question, but remove Sync and Send, I guess the compiler will tell you why it has to be sync and send. :D

[2022-11-04 12:45] zach-schoenberger commented on #209
@drmingdrmer would it make sense to make `Snapshot`'s bounds be `futures_core::Stream Send + Unpin + 'static` instead of `AsyncRead + AsyncSeek + Send + Unpin + 'static` for `RaftSnapshotBuilder`? I was going through looking how to implement the snapshoting in my project and ran into an issue with the current trait bounds. Mainly that `AsyncSeek` isn't really an option for me. And looking at the s

[2022-11-04 13:28] drmingdrmer commented on #209
Agree. a `Stream` of user-defined data chunks would be better. And it can just be a stream of `Vec<u8>` to simulate an `AsyncRead`.

I guess it is a historical reason: the API is derived from etcd-raft in which a snapshot is just a byte stream.

[2022-11-05 00:16] fredfortier opened #596 "Cancel Snapshot Jobs"
Is it possible to cancel a `RaftSnapshotBuilder::build_snapshot` job? In my context, it would simplify things to skip snapshots in particular conditions until the state machine steps into a different state. I simply want the job to try again until a snapshot is successfully returned. I tried returning this error: `StorageIOError::new(ErrorSubject::None, ErrorVerb::Write, e.into()).into()` from the

[2022-11-05 06:42] drmingdrmer opened #597 "Leader does not step down?"
What about allowing the leader to continue acting as a leader after a membership config without the leader being committed?

https://github.com/drmingdrmer/consensus-bugs/#raft-suboptimal-leader-step-down

But the leader does **NOT** have to give up leadership:

Despite it **should not** cast a ballot(vote) for other candidates, a learner(AKA
non-voter, a node removed from cluster config) can neve

[2022-11-05 13:33] zach-schoenberger commented on #209
@drmingdrmer would you mind checking if the approach I took here https://github.com/zach-schoenberger/openraft/tree/snapshot_stream looks good to you? If so I'll finish out updating the tests and examples

[2022-11-05 14:33] drmingdrmer commented on #596
The building snapshot is mainly a tokio task like this:
[code]

It is possible to make it an infinite loop in which it retries calling `build_snapshot()` until it returns an `OK`.

Another way is to block inside `build_snapshot()` until some condition become ready, e.g.:
[code]
Does this approach address your issue?

A StorageError is a fatal error. Returning it will just shut RaftCore down at onc

[2022-11-05 14:43] drmingdrmer commented on #209
Thank you for your suggestion.
Can you make it a **draft** PR so that everyone will be able to see the changes clearly online?

[2022-11-05 16:58] fredfortier commented on #596
This for the great explanation and guidance! My initial fear is that such solution would cause tasks to accumulate. With additional clarity from your guidance, it now feels like the obvious solution. We already wait for state machine backup jobs to complete in the `build_snapshot()` future, so this solution fits perfectly.

[2022-11-07 18:25] zach-schoenberger commented on #209
noting here the pr: https://github.com/datafuselabs/openraft/pull/600

[2022-11-11 03:11] drmingdrmer opened #604 "Update API trait with GAT"
https://blog.rust-lang.org/2022/11/03/Rust-1.65.0.html#whats-in-1650-stable

![image](https://user-images.githubusercontent.com/44069/201254700-637e3a99-4b3e-416f-bed1-c98c15153a6f.png)

[2022-11-21 12:18] DamnWidget commented on #550
I am experiencing the same issue, the test just hangs after showing the message of membership changing, there is 0ms of delay as I have no proxies or anything configured in this computer. The `cluster_test.rs` also hangs in the same point.

As @vishwaspai  if I increase the `heartebeat_timeout` to some value higher than 100 it works (the test fails as the last read from node 3 returns an empty str

[2022-11-21 12:30] DamnWidget commented on #550
Definitely is something wrong with the environment. I ran it in another environment with zero issues, this are my details:

Legend:
* Env1: Pop_OS! 22.04 LTS with Linux Kernel 6.0.6, AMD Ryzen 7 4800H CPU
* Env2: Artix Linux with Linux Kernel 5.15.26-lts, Intel i7-6700K CPU

I will try in another computer with also Artix Linux kernel 6.0.x and AMD 3950X CPU in a few minutes

[2022-11-21 12:46] DamnWidget commented on #550
Third test environment:
* Artix Linux with Kernel 6.0.6 (zen flavor) and AMD 3950X CPU

No issues. Probably something with Ubuntu, will try to run on this last env with a live distro or VM if I find the time

[2022-11-21 12:53] drmingdrmer commented on #550
Thank you so much @DamnWidget !

[2022-11-22 00:51] drmingdrmer opened #606 "Refactor snapshot API"
Introduce a new set of snapshot API based on the discussion in:
- #605

[2022-11-22 16:10] zach-schoenberger commented on #606
/assignme